<template lang="html">
  <div id="MainC" class="complete-update-inf">
    <main id="ContentsPane">
      <h1 class="rs-title-pg"><span id="Pagetitle">{{ $t('updateInfomation.lb_title_complete_update') }}</span></h1>

      <div class="container">
        <div class="col-md-12">
          <div class="block">
            <label>{{ $t('message.msg040_explaint_complete_update_member') }}</label>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="col-md-8 offset-md-2">
          <ClientInfo :clientInfo="model"/>
        </div>

        <div class="col-md-4 offset-md-4">
          <button class="rs-btn btn-large btn-green-dark btn-center" @click.prevent="goToMyPage()">
            {{ $t('myPage.btn_go_to_my_page') }}
          </button>
        </div>
      </div>
    </main>
  </div>
</template>

<script src="@@/business/my_page/CompleteUpdateBusiness.js">
</script>

<style lang="scss" scoped>
  @import "assets/scss/complete_register";
</style>
