<template>
    <section id="InfoList">
        <p class="test-justify" v-if="isCartExit">
            {{$t("cart.lb_cart_exit_056.line1",{'minute' : clientInfo.cart_delete_time})}}
            <br>
            {{$t("cart.lb_cart_exit_056.line2")}}
        </p>
        <p class="test-justify" v-if="isCartEmpty">
            {{$t("message.msg055_cart_empty")}}
        </p>
        <p class="test-justify" v-if="isNoInfo">
            {{$t("message.msg063_seat_name_no_info")}}
        </p>
        <p class="test-justify" v-if="isMailCompleteBooking">
            {{$t("message.msg064_seat_name_mail_complete")}}
        </p>
    </section>
</template>

<script>
import {mapState, mapGetters} from 'vuex';
import constant from '@/constant/index';
export default {
  components: {

  },

  data() {
    return {

    }
  },
  computed: {
    ...mapGetters({
      cartDetail: 'booking/cartDetail',
      cartId: 'booking/cartId',
      clientInfo: 'client/getClient'
    }),
    cartDetailGroup(){
      let result = {} ;
      if(this.cartDetail.length >0) {
        this.cartDetail.forEach(function (el) {
          if (typeof(result[el.show_nm]) === 'undefined') {
            result[el.show_nm] = [];
          }
          result[el.show_nm].push(el);
        });
      }
      return result;
    },
    isCartExit(){
      return this.cartDetail.length > 0;
    },
    isCartEmpty(){
      return this.cartDetail.length == 0;
    },
    isNoInfo(){
      let result = false;
      this.cartDetail.forEach(function (el) {
        if (el.internet_seat_notice == 0) {
          result = true;
        }
        return true;
      });

      return result;
    },
    isMailCompleteBooking(){
      let result = false;
      this.cartDetail.forEach(function (el) {
        if (el.internet_seat_notice == 1) {
          result = true;
        }
        return true;
      });

      return result;
    }
  },
  created() {
    //validate cart not exit
    if(this.cartId == ''){
      this.$store.dispatch('auth/setError', [this.$t('message.msg005_cart_not_exit')]);
      this.$router.push({name: constant.router.ERROR_NAME});
    }

  },
  methods: {


  }
}
</script>

<style scoped>

</style>
