<template>
  <div class="d-flex mx-3 my-2 border p-1">
    <div class="w-25 ml-2">
      <span>{{fee.fee_nm}}</span>
    </div>
    <div class="w-25 ml-2">
      <span>{{fee.fee_type_disp}}</span>
    </div>
    <div class="w-50 ml-2">
      <span>{{$currency(fee.fee_price)}}</span>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'fee'
    ]
  }
</script>

<style scoped>

</style>
