<template>
  <section class="border mt-3">
    <div class="d-flex p-3 mx-2">
      <div class="ml-2">
        <span>
          <b>
            {{$t("cart.lbl_info_receive")}}
          </b>
        </span>
      </div>
    </div>
    <div class="ml-3">
      <div class="d-flex flex-column">
        <!--Input fullname-->
        <div class="d-flex border-bottom border-top ml-3 mr-4">
          <label class="text-nowrap w-50 pt-2">
            {{$t('common.address.fullname')}}
          </label>
          <div class="w-50 pt-2">
            {{deliveryInfo.fullName}}
          </div>
        </div>
        <!--End input fullname-->
        <!--Input furigana-->
        <div class="d-flex border-bottom ml-3 mr-4">
          <label class="text-nowrap w-50 pt-2">
            {{$t('common.address.furigana')}}
          </label>
          <div class="w-50 pt-2">
            {{deliveryInfo.furigana}}
          </div>
        </div>
        <!--End furigana-->
        <!--Input phone number-->
        <div class="d-flex border-bottom ml-3 mr-4">
          <label class="text-nowrap w-50 pt-2">
            {{$t('common.address.phone')}}
          </label>
          <div class="w-50 pt-2">
            {{deliveryInfo.noPhone}}
          </div>
        </div>
        <!--End phone number-->
        <!--Input post code-->
        <div class="d-flex border-bottom ml-3 mr-4">
          <label class="text-nowrap w-50 pt-2">
            {{$t('common.address.postcode')}}
          </label>
          <div class="w-50 pt-2">
            {{deliveryInfo.postCode}}
          </div>
        </div>
        <!--End post code-->
        <!--Input prefecture code-->
        <div class="d-flex border-bottom ml-3 mr-4">
          <label class="text-nowrap w-50 pt-2">
            {{$t('common.address.prefecture')}}
          </label>
          <div class="w-50 pt-2">
            {{deliveryInfo.prefecture}}
          </div>
        </div>
        <!--End prefecture code-->
        <!--Input province code-->
        <div class="d-flex border-bottom ml-3 mr-4">
          <label class="text-nowrap w-50 pt-2">
            {{$t('common.address.province')}}
          </label>
          <div class="w-50 pt-2">
            {{deliveryInfo.province}}
          </div>
        </div>
        <!--End province code-->
        <!--Input other address-->
        <div class="d-flex border-bottom ml-3 mr-4">
          <label class="text-nowrap w-50 pt-2">
            {{$t('common.address.other_address')}}
          </label>
          <div class="w-50 pt-2">
            {{deliveryInfo.otherAddress}}
          </div>
        </div>
        <!--End other address-->
        <!--Input no room/building-->
        <div class="d-flex ml-3 mr-4">
          <label class="text-nowrap w-50 pt-2">
            {{$t('common.address.room_build')}}
          </label>
          <div class="w-50 pt-2">
            {{deliveryInfo.noRoomBuild}}
          </div>
        </div>
        <!--End no room/building-->
      </div><!--End block input-->
    </div> <!--End Block delivery-->
  </section>
</template>

<script>
export default {
  props: ['deliveryInfo']
}
</script>

<style scoped>

</style>
