<template>
  <section class="border mt-3 pb-2 table-sales">
    <div class="d-flex p-1 bg-light border m-3 mb-4 row-sales">
      <div class="w-25 ml-2">
        <span>
          {{$t("cart.lbl_name_fee")}}
        </span>
      </div>
      <div class="w-25 ml-2">
        <span>
          {{$t("cart.lbl_disp_fee")}}
        </span>
      </div>
      <div class="w-50 ml-2">
        <span>
          {{$t("cart.lbl_price_fee")}}
        </span>
      </div>
    </div>
    <FeeDetail class="row-sales" v-for="(fee, index) in fees" :fee="fee" :key="index"></FeeDetail>
  </section>
</template>

<script>
  import FeeDetail from "@/components/Cart/FeeDetail";

  export default {
    components: {
      FeeDetail
    },
    props: [
      'fees'
    ]
  }

</script>

<style lang="scss" scoped>
  @import "assets/scss/cart"
</style>
