<template>
  <section class="border mt-3">
    <div class="d-flex p-3 mx-2 overflowAuto">
      <div class="w-50 ml-2">
        <span>
          <b>
            {{$t("cart.lbl_payment_type")}}
          </b>
        </span>
      </div>
      <div class="w-50 ml-2 text-nowrap">
        <span>{{typeName}}</span>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    props: ['typeName']
  }
</script>

<style lang="scss" scoped>
  @import "assets/scss/cart"
</style>
