<template>
  <!-- Start Block delivery -->
  <div class="block-delivery">
    <div class="bl-head">配送先情報</div>
    <ul class="block-error alert alert-danger" v-if="errors.any()">
      <li v-for="(error, indexErr) in errors.all()" :key="indexErr">{{error}}</li>
    </ul>
    <div class="form-receive">
      <!--Input fullname-->
      <div class="form-group row">
        <label for="fullname" class="col-sm-2 col-form-label">{{$t('common.address.fullname')}} <span
          class="badge badge-danger">{{$t('common.require')}}</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="fullname" name="fullname" v-model="delivery.fullName"
                 v-validate="'required|max:200|spaceFullSize:' + (
                    getKbOfField('fullname') == 1 ? 'spaceFullSize:1' : (getKbOfField('fullname') == 2 ? 'spaceFullSize:2' : 'fullsize'))" :data-vv-as="$t('common.address.fullname')">
          <div class="bl-explain-input">
            {{$t('cart.delivery.fullname_exp')}}
          </div>
        </div>
      </div>
      <!--End input fullname-->
      <!--Input furigana-->
      <div class="form-group row">
        <label for="furigana" class="col-sm-2 col-form-label">{{$t('common.address.furigana')}}<span
          class="badge badge-danger">{{$t('common.require')}}</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="furigana" v-model="delivery.furigana" name="furigana"
                 v-validate="'required|max:200|kanaFullSize:' + getKbOfField('furigana')" :data-vv-as="$t('common.address.furigana')">
          <div class="bl-explain-input">
            {{$t('cart.delivery.furigana_exp')}}
          </div>
        </div>
      </div>
      <!--End furigana-->
      <!--Input phone number-->
      <div class="form-group row">
        <label for="nophone" class="col-sm-2 col-form-label">{{$t('common.address.phone')}}<span
          class="badge badge-danger">{{$t('common.require')}}</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nophone" v-model="delivery.noPhone" name="phone"
            v-validate="'phoneNumber:' +  `${getKbOfField('phone')},11`" :data-vv-as="$t('common.address.phone')">
          <div class="bl-explain-input">
            {{$t('cart.delivery.phone_exp')}}
          </div>
        </div>
      </div>
      <!--End phone number-->
      <!--Input post code-->
      <div class="form-group row">
        <label for="postcode" class="col-sm-2 col-form-label">{{$t('common.address.postcode')}}<span
          class="badge badge-danger">{{$t('common.require')}}</span></label>
        <div class="col-sm-10 row">
          <div class="col col-5">
            <div class="group-postcode row">
              <div class="col col-5">
                <input type="text" class="form-control" maxlength="3" pattern="[0-9]{3}" id="postcode" v-model="delivery.postCode1">
              </div>
              <div class="col col-1 text-center">-</div>
              <div class="col col-5">
                <input type="text" class="form-control" v-model="delivery.postCode2" maxlength="4" pattern="[0-9]{4}" >
              </div>
              <input type="hidden" v-model="delivery.postCode" maxlength="7" name="postcode" pattern="[0-9]{7}"
                     v-validate="'required|numeric|length:7'" :data-vv-as="$t('common.address.postcode')">
            </div>
            <div class="bl-explain-input text-danger" v-if="errorMessagePostCode">{{errorMessagePostCode}}</div>
          </div>
          <div class="col col-3">
            <div @click="searchPostCode" class="rs-btn btn-green-dark btn-auto btn-search-address"
                 v-bind:class="{active: allowSearchAddress}">{{$t('common.btn_search_address')}}
            </div>
          </div>
        </div>
      </div>
      <!--End post code-->
      <!--Input prefecture code-->
      <div class="form-group row">
        <label for="prefecture" class="col-sm-2 col-form-label">{{$t('common.address.prefecture')}}<span
          class="badge badge-danger">{{$t('common.require')}}</span></label>
        <div class="col-sm-10">
          <select class="form-control" id="prefecture" v-model="delivery.prefecture"
                  v-if="prefectureList && prefectureList.length > 0" name="prefecture"
                  v-validate="'required'" :data-vv-as="$t('common.address.prefecture')">
            <option v-for="(prefecture, preIndex) in prefectureList" :value="prefecture.code_nm" :key="preIndex">
              {{prefecture.code_nm}}
            </option>
          </select>
        </div>
      </div>
      <!--End prefecture code-->
      <!--Input province code-->
      <div class="form-group row">
        <label for="province" class="col-sm-2 col-form-label">{{$t('common.address.province')}}<span
          class="badge badge-danger">{{$t('common.require')}}</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="province" v-model="delivery.province" name="province"
                 v-validate="'required'" :data-vv-as="$t('common.address.province')">
          <div class="bl-explain-input">
            {{$t('cart.delivery.province_exp')}}
          </div>
        </div>
      </div>
      <!--End province code-->
      <!--Input other address-->
      <div class="form-group row">
        <label for="otheraddress" class="col-sm-2 col-form-label">{{$t('common.address.other_address')}}<span
          class="badge badge-danger">{{$t('common.require')}}</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="otheraddress" v-model="delivery.otherAddress" name="otherAddress"
                 v-validate="'required|max:200|fullsize'" :data-vv-as="$t('common.address.other_address')">
          <div class="bl-explain-input">
            {{$t('cart.delivery.other_address_exp')}}
          </div>
        </div>
      </div>
      <!--End other address-->
      <!--Input no room/building-->
      <div class="form-group row">
        <label for="noroom" class="col-sm-2 col-form-label">{{$t('common.address.room_build')}}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="noroom" v-model="delivery.noRoomBuild" name="noRoomBuild"
                 v-validate="'max:400|fullsize'" :data-vv-as="$t('common.address.room_build')">
          <div class="bl-explain-input">
            {{$t('cart.delivery.room_build_exp')}}
          </div>
        </div>
      </div>
      <!--End no room/building-->
    </div><!--End block input-->
  </div> <!--End Block delivery-->
</template>

<script src="@/business/cart/CartPaymentMethodDeliveryBusiness.js"></script>

<style lang="scss" scoped>
  @import "./assets/scss/booking_method_payment";
</style>
