<template>
  <div class="modal fade" id="QueueModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <form @submit.prevent="searchModalShow">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{$t('common.lb_dialog_confirm')}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <div class="d-flex justify-content-center align-items-center">
              <span class="mx-1 p-1 icon-user-color border" v-for="items in showQueue.count" :key="items">
                <i class="fa fa-user"></i>
              </span>
              <span class="icon-user-color" v-if="showQueue.more">
                <i class="fa fa-plus"></i>
              </span>
            </div>
            <p class="mb-0">
              <span>{{totalBeforeInQueue}}</span> people is waiting <span class="animation-loading">. . .</span>
            </p>
          </div>
          <div class="modal-footer">
            <div class="block-action">
              <button type="button" class="rs-btn btn-small btn-green-dark block-right" data-dismiss="modal">{{$t('common.btn_close')}}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>

  const MAX_DISPLAY = 10;

  export default {
    name: "QueueModal",
    props: ['totalBeforeInQueue'],
    computed: {
      showQueue() {
        if (this.totalBeforeInQueue > MAX_DISPLAY) {
          return {
            count: MAX_DISPLAY,
            more: true
          };
        }
        return {
          count: this.totalBeforeInQueue,
          more: false
        };
      }
    },
    methods: {
    }

  }
</script>

<style lang="scss" scoped>
  @import "./assets/scss/cart"
</style>
