<template>
    <section class="border mb-3 show-detail-page">
        <div class="d-flex justify-content-between p-2 bg-color-header mb-3">
            <h5 class="rs-title-block border-bottom-0">
                {{this.showName}} &nbsp {{this.showDate}}
            </h5>

            <nuxt-link v-if="showGroup"
                       :to="{ name: showScheduleUrl, params: {client_id: this.$route.params.client_id, show_group_id: showGroupId} }">
                <button class="rs-btn btn-green-dark btn-auto  mx-0 text-md-nowrap btn-booking" >
                    {{$t("cart.btn_booking")}}
                </button>
            </nuxt-link>
        </div>
        <!--Loop sales term-->
        <div class="table-sales" v-for="sale in saleList">
            <div class="row-sales border m-2 mb-3" v-if="designedSeat(sale).length >0">
                <h5 class="rs-title-block border-bottom-0">
                    {{sale}}
                </h5>
                <!-- Header -->
                <div class="d-flex justify-content-between m-2 mb-4">
                    <div class="d-flex bg-light justify-content-between align-items-center w-75 border" :class="{'w-58' : !haveDiscount(designedSeat(sale))}">
                        <div class="text-center px-2 width-item-box col-md-2">{{$t("cart.lbl_seat_type")}}</div>
                        <div class="text-center px-2 width-item-box col-md-2">{{$t("cart.lbl_ticket_type")}}</div>
                        <div class="text-center px-2 width-item-box col-md-3">{{$t("cart.lbl_seat")}}</div>
                        <div class="text-center px-2 width-item-box col-md-2">{{$t("cart.lbl_price")}} </div>
                        <div class="text-center px-2 width-item-box col-md-2" v-show="haveDiscount(designedSeat(sale))">{{$t("cart.lbl_price_discount")}}</div>
                    </div>

                    <button class="rs-btn btn-green-dark  btn-change" @click="onClickShow(designedSeat(sale)[0])">
                        {{$t("cart.btn_change")}}
                    </button>


                </div>

                <!-- End Header -->

                <!--List Item ticket -->
                <div class="d-flex justify-content-between m-2 border" v-for="seat in designedSeat(sale)">
                    <div class="d-flex justify-content-between align-items-center w-75"  :class="{'w-58' : !haveDiscount(designedSeat(sale))}">
                        <div class="text-center px-2 width-item-box col-md-2">{{seat.seat_type_nm}}</div>
                        <div class="text-center px-2 width-item-box col-md-2">{{seat.ticket_type_nm}}</div>
                        <div class="text-center px-2 width-item-box col-md-3">{{seatName(seat)}}</div>
                        <div class="text-center px-2 width-item-box col-md-2">{{$currency(seat.standard_ticket_price)}}</div>
                        <div class="text-center px-2 width-item-box text-danger col-md-2 "
                             v-show="haveDiscount(designedSeat(sale))">
                            {{$currency(salePrice(seat))}}
                        </div>
                    </div>
                    <button class="rs-btn btn-green-dark  m-2 btn-clear" @click="onClickClear(seat)">
                        {{$t("cart.btn_cancel")}}
                    </button>
                </div>
                <!-- End List Item Ticket -->
            </div>

            <!--Free Seat-->
            <div class="row-sales border m-2 mb-3" v-if="freeSeat(sale).length >0">
                <h5 class="rs-title-block border-bottom-0">
                    {{sale}}
                </h5>
                <!-- Header -->
                <div class="d-flex justify-content-between m-2 mb-4">
                    <div class="d-flex bg-light justify-content-between align-items-center w-75 border" :class="{'w-58' : !haveDiscount(freeSeat(sale))}">
                        <div class="text-center px-2 width-item-box col-md-2">{{$t("cart.lbl_seat_type")}}</div>
                        <div class="text-center px-2 width-item-box col-md-2">{{$t("cart.lbl_ticket_type")}}</div>
                        <div class="text-center px-2 width-item-box col-md-3">{{$t("cart.lbl_ticket_count")}}</div>
                        <div class="text-center px-2 width-item-box col-md-2">{{$t("cart.lbl_price")}}</div>
                        <div class="text-center px-2 width-item-box col-md-2" v-show="haveDiscount(freeSeat(sale))">{{$t("cart.lbl_price_discount")}}</div>
                    </div>
                    <button class="rs-btn btn-green-dark btn-change" @click="onClickShow(freeSeat(sale)[0])">
                        {{$t("cart.btn_change")}}
                    </button>
                </div>

                <!-- End Header -->

                <!--List Item ticket -->
                <div class="d-flex justify-content-between m-2 border" v-for="seat in freeSeat(sale)">
                    <div class="d-flex justify-content-between align-items-center w-75" :class="{'w-58' : !haveDiscount(freeSeat(sale))}">
                        <div class="text-center px-2 width-item-box col-md-2">{{seat.seat_type_nm}}</div>
                        <div class="text-center px-2 width-item-box col-md-2">{{seat.ticket_type_nm}}</div>
                        <div class="text-center px-2 width-item-box col-md-3">自由席×{{seat.ticket_count}}枚</div>
                        <div class="text-center px-2 width-item-box col-md-2">{{$currency(seat.standard_ticket_price)}}</div>
                        <div class="text-center px-2 width-item-box text-danger col-md-2" v-show="haveDiscount(freeSeat(sale))">{{$currency(salePrice(seat))}}</div>
                    </div>
                    <button class="rs-btn btn-green-dark m-2 btn-clear" @click="onClickClear(seat)">
                        {{$t("cart.btn_cancel")}}
                    </button>
                </div>
                <!-- End List Item Ticket -->
            </div>
            <!--End Loop sales term -->
        </div>

    </section>
</template>

<script>

import {mapActions, mapGetters} from 'vuex'
import constant from '@/constant/index';
import {get,post} from '@/plugins/api';


export default {
  components: {

  },
  props: [
    'tickets',
    'numberTicket',
  ],
  data() {
    return {
      'showScheduleUrl': constant.router.SHOW_SCHEDULE_LIST,

    }
  },
  computed: {
    ...mapGetters({
      cartId: 'booking/cartId',
      memberId: 'auth/getMemberId',
      memberKbNo: 'auth/getMemberKbNo',
      memberTypeNo: 'auth/getMemberTypeNo',
      unit: 'auth/getUnit'
    }),
    showGroup() {
      return this.tickets[0].show_group_disp_kb != 1;
    },
    showGroupId() {
      return this.tickets[0].show_group_id;
    },
    // showGroupId() {
    //   return this.tickets[0].show_group_id;
    // },
    showName() {
      return this.tickets[0].show_nm;
    },
    showDate() {
      return this.tickets[0].show_date_disp_char;
    },
    saleName() {
      return this.tickets[0].sales_nm;
    },
    saleList() {
      let result = this.tickets.map(ticket => ticket.sales_nm);
      // remove duplicate
      return result.filter(function (item, pos) {
        return result.indexOf(item) == pos;
      });
    },


  },
  methods: {
    seatName(seat) {
      let hall_view_flg = 0;
      let seat_type_kb = seat.seat_type_kb;
      let internet_seat_kb = seat.internet_seat_kb;
      let internet_seat_notice = seat.internet_seat_notice;
      let result = '';

      if (hall_view_flg == 0) {
        if (seat_type_kb == 1) {
          if (internet_seat_kb == 1) {
            result = seat.seat_nm;
          }
          if (internet_seat_kb == 2 || internet_seat_kb == 3) {
            if (internet_seat_notice == 0) {
              result = this.$t("cart.lb_info_in_ticket");
            }
            if (internet_seat_notice == 1) {
              result = this.$t("cart.lb_info_after_book");
            }
            if (internet_seat_notice == 2) {
              result = seat.seat_nm;
            }
          }
        }
      }
      return result;
    },
    salePrice(seat) {

      let price = "";
      let result = seat.standard_ticket_price - seat.sales_price;
      if (result > 0) {
        price =  seat.sales_price ;
      }
      console.log(price)  ;
      return price ;
    },
    haveDiscount(seats) {

      let haveDiscountFlg = false;
      seats.forEach(function (seat) {
        if (seat.standard_ticket_price - seat.sales_price > 0){
          haveDiscountFlg = true ;
          return false;
        }
      });
      return haveDiscountFlg;
    },
    designedSeat(saleName) {
      let filter = this.tickets.filter(function (ticket) {
        return ticket.seat_type_kb == constant.config.SEAT_DESIGNATED
          && ticket.sales_nm == saleName;
      });
      return filter;
    },
    freeSeat(saleName) {
      let filter = this.tickets.filter(function (ticket) {
        return ticket.seat_type_kb == constant.config.SEAT_FREE
          && ticket.sales_nm == saleName;
      });
      return filter;
    },
    onClickClear(seat) {
      if (seat.unit_flg == 1) {
        this.$emit('warningModal', true);

      } else {
        this.$emit('deleteModal', seat);

      }
    },

    onClickShow(seat) {
      let path = '';
      if(seat.hall_seat_view_flg == constant.config.LAYOUT_NO_SEAT) {
         path = this.$router.resolve({
          name: constant.router.SELECT_TICKET_NAME,
          params: {client_id: this.$route.params.client_id},
          query: {show_group_id: seat.show_group_id, show_no: seat.show_no, sales_no: seat.sales_no}
        });
      }
      if(seat.hall_seat_view_flg == constant.config.LAYOUT_WITH_SEAT) {
         path = this.$router.resolve({
          name: constant.router.SELECT_SEAT_NAME,
          params: {client_id: this.$route.params.client_id},
          query: {show_group_id: seat.show_group_id, show_no: seat.show_no, sales_no: seat.sales_no}
        });
      }

      this.$router.push(path.href);
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "assets/scss/cart"
</style>
