<template>
  <div class="modal fade" id="TheDeleteSeatModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <form @submit.prevent="">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"> {{$t('common.lb_dialog_confirm')}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <pre>{{message}} </pre>

        </div>
        <div class="modal-footer">
            <div class="block-action">
                <button type="button" class="rs-btn btn-small btn-secondary block-left"  data-dismiss="modal">{{$t('common.btn_close')}}</button>
                <button type="button" class="rs-btn btn-small btn-green-dark block-right" data-dismiss="modal" @click="confirmDelete(seat)">{{$t('common.btn_ok')}}</button>
            </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</template>

<script>

  export default {
    name: "TheDeleteSeatModal",
    props: ['message','seat'],
    data() {
      return {

      }
    },
    created() {

    },
    methods: {
        confirmDelete(seat){
          this.$emit('confirmDeleteModal', seat);
        }
    }

  }
</script>

<style scoped>

</style>
