<template>
  <section class="border mt-3">
    <div class="d-flex p-3 mx-2 overflowAuto">
      <div class="w-50 ml-2">
        <span>
          <b>
            {{$t("cart.lbl_total_amount")}}
          </b>
        </span>
      </div>
      <div class="w-50 ml-2">
        <span>
          <b>
            {{$currency(totalPayment)}}
          </b>
        </span>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    props: [
      'totalPayment'
    ]
  }
</script>

<style lang="scss" scoped>
  @import "assets/scss/cart"
</style>
