<template>
    <section class="border" v-if="sumNumberTicket >0">
        <div class="d-flex p-3 mx-2 overflowAuto" >
            <div class="w-75 ml-2">
                <span>
                  <b>
                    {{$t("cart.lbl_total_amount")}}
                  </b>
                </span>
                <span class="ml-3">
                    {{this.sumNumberTicket}}枚
                </span>
            </div>
            <div class="w-25 ml-2 text-nowrap">
                <span>
                  <b>
                    {{$t("cart.lbl_total_price")}}
                  </b>
                </span>
                <span class="ml-3">
                    {{$currency(this.sumMoneyTicket)}}
                </span>
            </div>
        </div>
    </section>
</template>

<script>

import {mapGetters} from 'vuex'

export default {
  name: "total-payment",
  computed: {
    ...mapGetters({
      cartDetail: 'booking/cartDetail'
    }),
    sumNumberTicket() {
      let numTicket = 0;
      let route = this.$route;
      this.cartDetail.forEach(function (el) {

        numTicket += el.ticket_count * 1;

      });
      return numTicket;
    },
    sumMoneyTicket() {
      let totalMoney = 0;
      let route = this.$route;
      this.cartDetail.forEach(function (el) {
          totalMoney += el.ticket_count * el.sales_price;
        }
      )
      return totalMoney;
    }
  }
}

</script>

<style lang="scss" scoped>
    @import "assets/scss/cart"
</style>
