<template lang="html">
  <div id="MainC" class="membership-register-3">
    <main id="ContentsPane">
      <!-- Show title -->
      <h1 class="rs-title-pg"><span id="Pagetitle">{{ $t('member.title_complete_membership') }}</span></h1>

      <!-- Notification send mail complete register membership -->
      <div class="container">
        <div class="m-5 mx-auto complete">
          <span>{{ $t('message.msg041_explain_complete_register_membership.line_1') }}</span><br/>
          <span>{{ $t('message.msg041_explain_complete_register_membership.line_2') }}</span>
        </div>
      </div>
      <!-- End Notification send mail complete register membership -->

      <!-- Show client info -->
      <div class="container">
        <div class="col-md-6 offset-md-3">
          <ClientInfo :clientInfo="model"/>
        </div>
      </div>
      <!-- End show client info -->

      <!-- Button action -->
      <div class="container">
        <div class="block-action">
          <nuxt-link class="rs-btn btn-large btn-green-dark btn-center m-auto pt-1" :to="pathToMyPage">
            {{ $t('member.btn_links_my_page') }}
          </nuxt-link>
        </div>
      </div>
      <!-- End button action -->
    </main>
  </div>
</template>

<script src="@@/business/membership/CompleteMembershipBusiness.js">
</script>

<style lang="scss" scoped>
  @import "assets/scss/member";
</style>
