<template>
    <section id="Ticket-Type">
        <div class="d-flex">
            <h2 class="col mb-0">
                {{ $t('booking.lb_bill_information_type') }}
            </h2>
        </div>
        <div class="table-ticket">
            <table class="table ">
                <thead>
                <tr>
                    <th scope="col" style="min-width: 88px;" class="text-center">{{ $t('booking.lb_seat_status') }}</th>
                    <th scope="col" class="text-center">{{ $t('booking.lb_seat_type') }}</th>
                    <th scope="col" class="text-center">{{ $t('booking.lb_seat_info') }}</th>
                    <th scope="col" class="text-center">{{ $t('booking.lb_seat_price') }}</th>
                    <th scope="col" class="text-center" style="padding: 0px;"></th>
                </tr>
                </thead>
                <tbody v-for="(seat, seatIndex) in seats">

                <tr v-for="(ticket, ticketIndex) in seat.tickets">
                    <td v-if="ticketIndex ==0 " class="text-center" scope="row" :rowspan="seat.tickets.length">{{ seat.maisu_status}}</td>
                    <td v-if="ticketIndex ==0" :rowspan="seat.tickets.length" class="text-center">
                        <div class="square" v-bind:style="{background: seat.seat_type_color.substring(0,7)}"></div>&nbsp
                        <div style="display: inline-block">{{ seat.seat_type_nm}} </div>
                    </td>
                    <td class="text-center" style="max-width: 90px">{{ ticket.ticket_type_nm}}</td>
                    <td class="text-center" style="max-width: 90px">{{ $currency(ticket.ticket_price)}}</td>
                    <td class="" style="padding-right: 0px;padding-left: 0px;">
                        <div class="d-flex align-items-center">
                        <select class="form-control pull-right" style="width:86px;"
                                @change="onChangeTicket($event.target.value,seat,ticket)"
                                v-if="isLogin
                                    && parseInt(ticket.net_zan_maisu) >= parseInt(ticket.ticket_unit)
                                    && ticket.number_specified_flg == 1"
                                :key="number_ticket[seat.seat_type_nm+'_'+ticket.ticket_type_nm]">
                            <option v-bind:value="0">{{$t('booking.lb_please_select')}}</option>
                            <option v-for="ticketNumber  in (ticket.net_zan_maisu *1) "
                                    v-bind:value="ticketNumber"
                                    v-if="ticketNumber % ticket.ticket_unit == 0
                                            && ticketNumber <= parseInt(ticket.limit_count)
                                            && ticketNumber <= parseInt(ticket.net_zan_maisu)"
                                    :selected="loadMyTicket(seat.seat_type_no ,ticket.ticket_type_no ,ticketNumber )">
                                {{ticketNumber}}
                            </option>

                        </select>
                        <span v-if="isLogin
                                    && parseInt(ticket.net_zan_maisu) >= parseInt(ticket.ticket_unit)
                                    && ticket.number_specified_flg == 1"> &nbsp 枚</span>
                        <div v-if="parseInt(ticket.net_zan_maisu) == 0|| parseInt(ticket.net_zan_maisu) < parseInt(ticket.ticket_unit)">
                            {{$t('booking.lb_sold_out')}}
                        </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</template>

<script>
import {mapGetters} from 'vuex'
import Config from "@/constant/config"

export default {
  name: "ticket-content-seat",
  props: ['seats','sales_kb'],
  data() {
    return {
      number_ticket: [],
      ticket_price: 0,
      ticket_type_no: 0,
      seat_type_no: 0,
      seat_type_kb: 0
    }
  },
  computed: {
    ...mapGetters({
      myTickets: 'booking/myTickets',
      cartDetail: 'booking/cartDetail',
      isLogin: 'auth/isLogin'
    }),

  },
  methods: {
    /**
     * Function init page get ticket info
     *
     * @returns {Array}
     */
    onChangeTicket: function (numTicket, seat, ticket) {

      let ticketInfo = {
        ticket_type_no: ticket.ticket_type_no,
        ticket_type_nm: ticket.ticket_type_nm,
        seat_type_no: seat.seat_type_no,
        seat_type_nm: seat.seat_type_nm,
        ticket_price: ticket.ticket_price,
        number_ticket: numTicket,
        seat_type_kb: Config.SEAT_FREE,
        client_id: this.$route.params.client_id,
        show_group_id: this.$route.query.show_group_id,
        show_no: this.$route.query.show_no,
        sales_no: this.$route.query.sales_no,
        sales_kb: this.sales_kb,
        number_specified_flg: 1

      }
      this.$store.dispatch("booking/deleteTicket", ticketInfo);

      if (ticketInfo.number_ticket > 0) {
        this.$store.dispatch("booking/addTicket", ticketInfo);
      }
      if (ticketInfo.number_ticket == 0) {
        this.$store.dispatch("booking/deleteTicket", ticketInfo);
      }
    },
    setNumberSpecified(seatTypeKb,internetSeatKb){
      let numberSpecFlg = 0;
      if(seatTypeKb == 2){
        numberSpecFlg = 1;
      }
      if(seatTypeKb ==1 && (internetSeatKb  == 2 || internetSeatKb  == 3 )){
        numberSpecFlg = 1;
      }

      return numberSpecFlg;
    },
    loadMyTicket(seat_type_no, ticket_type_no, ticketNumber) {
      let result = false;
      this.myTickets.forEach(el => {
          if ( el.client_id == this.$route.params.client_id
            && el.show_group_id == this.$route.query.show_group_id
            && el.show_no == this.$route.query.show_no
            && el.sales_no == this.$route.query.sales_no
            && el.seat_type_no == seat_type_no
            && el.ticket_type_no == ticket_type_no
            && el.number_ticket == ticketNumber
            && this.setNumberSpecified(el.seat_type_kb,el.internet_seat_kb) == 1
          ) {
            result = true;
            return true;
          }
        });

      return result;
    }
  }
}
</script>

<style scoped>

</style>