<template>
    <div>
        <!--Diagram-->
        <section id="Diagram" class="w-100">
            <div class="d-flex">
                <h2 class="col mt-0 mb-0">
                    <a href="#DiagramDetail" data-toggle="collapse">

                    </a>
                </h2>
                <div class="info__button d-flex justify-content-center align-items-center mb-0">
                    <button id="panzoom-in" class="rs-btn btn-green-dark mr-1 btn-auto py-2">
                        <i class="fa fa-search-plus"></i>
                    </button>
                    <button id="panzoom-out" class="rs-btn btn-green-dark mr-1 btn-auto py-2">
                        <i class="fa fa-search-minus"></i>
                    </button>
                    <button id="panzoom-reset" class="rs-btn btn-green-dark btn-auto py-2">
                        100%
                    </button>
                </div>
            </div>
            <div id="DiagramDetail" class="parent border mt-0 collapse show">
                <div class="panzoom w-100 d-flex justify-content-center align-items-center">
                    <div id="diagram_wrap"></div>
                    <!--<svg id="diagram" version="1.1"-->
                    <!--baseProfile="full"-->
                    <!--width="628" height="535"-->
                    <!--xmlns="http://www.w3.org/2000/svg"-->
                    <!--class="d-flex justify-content-center align-items-center"-->

                    <!--&gt;-->
                    <!---->
                    <!--</svg>-->

                </div>
            </div>
        </section>
        <!--Diagram End-->

        <!--BookTicket-->
        <section id="Book-Ticket">
            <div class="d-flex">
                <h2 class="col mb-0">
                    {{ $t('booking.lb_reservation_information') }}
                </h2>
                <div class="d-md-flex d-none justify-content-center align-items-center info__button mb-0">

                    <button id="btn-cancel-all" type="button" class="rs-btn btn-green-dark btn-auto py-1 mx-0 btn-cancel-all"
                            v-if="selectSeats.length >0" data-target="#theLoginModal">
                        {{ $t('booking.btn_cancel_all') }}
                    </button>

                </div>
            </div>
            <div id="BookTicketDetail" class="collapse show mt-3 table-ticket" v-if="selectSeats.length >0">
                <div class="d-flex justify-content-between mx-2 px-3 py-2 row text-nowrap row-ticket">
                    <div class="col-2">
                        {{ $t('booking.lb_seat_type') }}
                    </div>
                    <div class="col-3">
                        {{ $t('booking.lb_seat_info') }}
                    </div>
                    <div class="col-3">
                        {{ $t('booking.lb_seat_name') }}
                    </div>
                    <div class="col-2">
                        {{ $t('booking.lb_price') }}
                    </div>
                    <div class="col-2">

                    </div>
                </div>
                <div class="d-flex justify-content-between mx-2 mb-3 border p-3 text-nowrap row-ticket"
                     v-for="(seat,seatSelectIndex) in myTickets"
                     v-if="isDesignatedSeat(seat)"
                >
                    <div class="col-2">
                        {{seat.seat_type_nm}}
                    </div>
                    <div class="col-3">

                        <select v-for="(seatInfo, seatInfoIndex) in seats"
                                v-if="seat.seat_type_no == seatInfo.seat_type_no "
                                @change="onChooseTicket(seat.seat_no ,$event.target )"
                                class="w-100">
                            <option v-bind:value="0"
                                    v-bind:data-ticket_price="0"
                                    v-if="seatInfo.tickets.length > 1" >
                                {{$t('booking.lb_please_select')}}
                            </option>
                            <option v-for="(ticket, ticketIndex) in seatInfo.tickets"
                                    v-bind:value="ticket.ticket_type_no"
                                    v-bind:data-ticket_type_nm="ticket.ticket_type_nm"
                                    v-bind:data-ticket_type_no="ticket.ticket_type_no"
                                    v-bind:data-seat_type_no="seat.seat_type_no"
                                    v-bind:data-ticket_price="ticket.ticket_price"
                                    :selected=" ticket.ticket_type_no == seat.ticket_type_no"
                            >
                                {{ticket.ticket_type_nm }}
                            </option>
                        </select>

                    </div>
                    <div class="col-3">
                        {{seat.seat_nm}}
                    </div>
                    <div class="col-2">
                        {{ $currency(seat.ticket_price)}}
                    </div>
                    <div class="col-2">
                        <button id="btn-cancel" class="rs-btn btn-green-dark btn-auto py-1 mx-0 btn-cancel"
                                v-bind:data-seat_no="seat.seat_no">
                            {{ $t('booking.btn_cancel') }}
                        </button>
                    </div>
                </div>
                <div class="mx-2 d-flex justify-content-center">
                    <button type="button" class="d-md-none d-block rs-btn btn-green-dark mx-0 btn-auto btn-cancel-all">
                        {{ $t('booking.btn_cancel_all') }}
                    </button>
                </div>
            </div>
            <!--validate booking seat -->
            <div id="BookTicketValidate" class="collapse show mt-3 align-items-center red">
                <p class="align-items-center text-center" v-if="selectSeats.length ==0">
                    {{$t("message.msg029_empty_designate_seat")}}</p>
                <p class="align-items-center text-center" v-if="validTicketType == false && nextBtnCLick">
                    {{$t("message.msg030_require_select_ticket_type")}}</p>
            </div>

            <input type="hidden" id="select-seat" v-bind:value="selectSeatString"
                   @change="selectSeats=$event.target.value">
        </section>
        <!--BookTicket End-->

    </div>
</template>

<script>
import Config from "@/constant/config"

import Hammer from "@/static/js/hammer.js"
import diagram from "@/static/js/build-diagram-seat.js"
import {mapActions, mapGetters} from 'vuex'
import constant from '@/constant';
import {get} from '@/plugins/api';
import ListSeats from '@/grapsql/queries/ListSeats';
import CreateSeat from '@/grapsql/mutations/CreateSeat';
import NewSeatSub from '@/grapsql/subscriptions/NewSeatSubscription';
import {appsyncProvider ,appName} from '@/plugins/realtime';
import uuidV4 from 'uuid/v4';

export default {
  name: "ticket-booking-seat",
  components: {

  },
  props: ['seats','seatMap'],
  head: {
    script: [
      {src: '/js/svg-pan-zoom.js'}
    ]
  },
  apolloProvider: appsyncProvider,
  data() {

    return {
      memberIdData: this.$store.state.auth.user.member_id,
      selectSeats: "",
      validTicketType: "",
      validMember: "",
      nextBtnCLick : false,
      seatsAppSync: [],
      routeData : this.$route,
      appSyncId:[]
    }
  },
  computed: {
    ...mapGetters({
      myTickets: 'booking/myTickets',
      isLogin: 'auth/isLogin',
      memberId: 'auth/getMemberId',
      memberKbNo: 'auth/getMemberKbNo',
      checkMemberValid: 'auth/checkMemberValid'
    }),
    selectSeatString() {
      let selectSeatJson = [];
      var that = this;
      this.myTickets.forEach(function (itemSeat) {
        //{"seat_no":215,"seat_nm":"9列 25版","seat_type_nm":"S席"}
        if (
          itemSeat.client_id == that.$route.params.client_id
          && itemSeat.show_group_id == that.$route.query.show_group_id
          && itemSeat.show_no == that.$route.query.show_no
          && itemSeat.sales_no == that.$route.query.sales_no
          && itemSeat.seat_type_kb == Config.SEAT_DESIGNATED
        ) {

          let seat = {
            seat_no: itemSeat.seat_no,
            seat_nm: itemSeat.seat_nm,
            seat_type_nm: itemSeat.seat_type_nm,
            seat_type_no: itemSeat.seat_type_no,
          };

          selectSeatJson.push(seat);
        }
      });
      this.selectSeats = selectSeatJson;
      return JSON.stringify(selectSeatJson);
    }

  },
  created() {

    // this.validateMemberTime();
  },
  mounted: function () {

    let clientId = this.$route.params.client_id;
    let hallNo = 1;
    let hallLayoutNo = 1;
    let isLogin = this.isLogin;
    let srcImage = process.env.baseS3Url + Config.PATH_IMG_SEAT_MAP
      .replace(':client_id', clientId)
      .replace(':hall_no', hallNo)
      .replace(':hall_layout_no', hallLayoutNo);

    const matrix = this.seatMap;
    // Disable event click choose seat
    $(document).off('click touchend', 'rect,text');
    diagram.initDiagram(srcImage, matrix);
    // check seat svg exit for load selected seat
    var checkExist = setInterval(function () {
      if ($('#diagram').find('#map-bg')) {
        $(document).trigger('load-select-seat');
        if (!isLogin) {
          $(document).off('click touchend', 'rect,text');
          $(document).on('click touchend', 'rect,text', function () {
            $('#theLoginModal').modal('show');
          });
        }

        clearInterval(checkExist);
      }
    }, 500);

    $('#select-seat').on("change", this.onSelectedSeat);

    // click next btn
    this.$parent.$on('nextBtnClick', this.validate);
    this.$parent.$on('appSync', this.createSeat);
  },

  methods: {
    validate() {
      this.nextBtnCLick = true;
      this.validateTicketType();

    },
    validateTicketType() {
      let result = true;
      var that = this;

      this.myTickets.forEach(function (itemSeat) {
        //{"seat_no":215,"seat_nm":"9列 25版","seat_type_nm":"S席"}
        if (
          itemSeat.client_id == that.$route.params.client_id
          && itemSeat.show_group_id == that.$route.query.show_group_id
          && itemSeat.show_no == that.$route.query.show_no
          && (typeof(itemSeat.ticket_type_no) === "undefined" || itemSeat.ticket_type_no == 0)
        ) {

          result = false;
        }
      });
      this.validTicketType = result;
      return result;
    },
    validateMemberTime() {
      get(constant.api.BOOKING_MEMBERSHIP, {clientId: this.$route.params.client_id, memberId: this.memberId})
        .then(result => {

          this.validMember = result.data.isValidMember;
        })
        .catch(err => {
          // Will be redirect to page error 570 later
          console.log(err);
        });

    },

    isDesignatedSeat(seat) {
      return (
        seat.client_id == this.$route.params.client_id
        && seat.show_group_id == this.$route.query.show_group_id
        && seat.show_no == this.$route.query.show_no
        && seat.seat_type_kb == Config.SEAT_DESIGNATED)
    },

    onSelectedSeat(event) {
      this.selectSeats = event.target.value;
      let selectSeatJson = JSON.parse(event.target.value);

      let deleteTicketData = {
        show_group_id: this.$route.query.show_group_id,
        show_no: this.$route.query.show_no,
        client_id: this.$route.params.client_id,
        sales_no: this.$route.query.sales_no,
        seat_type_kb: Config.SEAT_DESIGNATED
      };
      let myTicketsBefore = this.myTickets;
      var that = this;

      this.$store.dispatch("booking/deleteTicketDesignated", deleteTicketData);
      selectSeatJson.forEach(function (itemSeat) {

        let seat = {};
        let ticket = {};
        seat.seat_no = itemSeat.seat_no;
        seat.seat_nm = itemSeat.seat_nm;
        seat.seat_type_no = itemSeat.seat_type_no;
        seat.seat_type_nm = itemSeat.seat_type_nm;
        seat.sales_kb = itemSeat.sales_kb;
        ticket.ticket_type_no = 0;
        ticket.ticket_type_nm = 0;
        ticket.ticket_price = 0;

        // find index   value ticket choosed
        let objIndex = myTicketsBefore.findIndex((seat =>
            seat.show_group_id == that.$route.query.show_group_id
            && seat.show_no == that.$route.query.show_no
            && seat.sales_no == that.$route.query.sales_no
            && seat.seat_no == itemSeat.seat_no
        ));
        // set back value ticket choosed
        if(objIndex>=0){
          ticket.ticket_type_no = myTicketsBefore[objIndex]['ticket_type_no'];
          ticket.ticket_type_nm = myTicketsBefore[objIndex]['ticket_type_nm'];
          ticket.ticket_price = myTicketsBefore[objIndex]['ticket_price'];
        }
        // set ticket type for seat have only 1 ticket type
        if(that.seats[seat.seat_type_nm]['tickets'].length == 1){
          ticket.ticket_type_no = that.seats[seat.seat_type_nm]['tickets'][0]['ticket_type_no'];
          ticket.ticket_type_nm = that.seats[seat.seat_type_nm]['tickets'][0]['ticket_type_nm'];
          ticket.ticket_price = that.seats[seat.seat_type_nm]['tickets'][0]['ticket_price'];
        }

        that.addNewSeat(1, seat, ticket);
      });
      
    },
    /**
     * Function init page get ticket info
     *
     * @returns {Array}
     */
    addNewSeat: function (numTicket, seat, ticket) {

      let ticketInfo = {
        ticket_type_no: ticket.ticket_type_no,
        ticket_type_nm: ticket.ticket_type_nm,

        seat_no: seat.seat_no,
        seat_nm: seat.seat_nm,

        seat_type_no: seat.seat_type_no,
        seat_type_nm: seat.seat_type_nm,
        ticket_price: ticket.ticket_price,
        number_ticket: numTicket,
        seat_type_kb: Config.SEAT_DESIGNATED,
        show_group_id: this.$route.query.show_group_id,
        show_no: this.$route.query.show_no,
        client_id: this.$route.params.client_id,
        sales_no: this.$route.query.sales_no,
        sales_kb: seat.sales_kb,
        number_specified_flg: 0

      }

      if (ticketInfo.number_ticket >= 1) {
        this.$store.dispatch("booking/addTicket", ticketInfo);
      }
    },

    onChooseTicket: function (seatNo, optionSelect) {
      let TicketPrice = $('option:selected', optionSelect).data('ticket_price');
      let ticketTypeNo = $('option:selected', optionSelect).data('ticket_type_no');
      let ticketTypeName = $('option:selected', optionSelect).data('ticket_type_nm');
      let seatTypeNo = $('option:selected', optionSelect).data('seat_type_no');
      let ticketInfo = {
        client_id: this.$route.params.client_id,
        show_no: this.$route.query.show_no,
        show_group_id: this.$route.query.show_group_id,
        sales_no: this.$route.query.sales_no,
        ticket_type_no: ticketTypeNo,
        ticket_type_nm: ticketTypeName,
        seat_no: seatNo,
        seat_type_no: seatTypeNo,
        ticket_price: TicketPrice,
      };
      // save choose ticket
      this.$store.dispatch("booking/chooseTicketType", ticketInfo);
      this.validateTicketType();
    },
    /**
     * Real time create booking seat
    */
    createSeat: function() {

      let that = this;
      let myTicket = JSON.parse($('#select-seat').val());
      myTicket.forEach(function (itemSeat) {
        const seat = {
          id: '',
          show_group_id: that.$route.query.show_group_id,
          show_no: that.$route.query.show_no,
          sales_no: that.$route.query.sales_no,
          seat_no: itemSeat.seat_no,
          client_id: that.$route.params.client_id,
          member_id: that.memberId,
        };

        that.$apollo.mutate({
          mutation: CreateSeat,
          variables: seat,
          update: (store, {data: {createSeat}}) => {
            const data = store.readQuery({query: ListSeats});
            data.listSeats.items.push(createSeat);
            store.writeQuery({query: ListSeats, data});
          },
          optimisticResponse: {
            __typename: 'Mutation',
            createSeat: {
              __typename: appName,
              ...seat
            }
          },
        })
        .then(data => {

        })
        .catch(error => {
          console.log(error);
        });
      });
    }
  },

  /**
   * Real time use vue-apollo
   */
  apollo: {
    seatsAppSync: {
      query: () => ListSeats,
      update: data => data.listSeats.items,
      subscribeToMore: [
        {
          document: NewSeatSub,
          updateQuery: function(previousResult, { subscriptionData: { data: { onCreateSeat }} })  {

            let check = this.routeData.query.show_group_id === onCreateSeat.show_group_id
                    && this.routeData.query.show_no === onCreateSeat.show_no
                    && this.routeData.query.sales_no === onCreateSeat.sales_no
                    && this.routeData.params.client_id === onCreateSeat.client_id
                    && this.memberIdData != onCreateSeat.member_id ;
            if (check) {
              $(document).trigger('real-time-alert', [ onCreateSeat.seat_no ]);
              $(document).trigger('real-time', [ onCreateSeat.seat_no ]);
              $(document).trigger('real-time-delete');
            }
          },
          onError: err => {
            // Timeout real time page will be reload
            window.location.reload();
          }
        },
      ] ,
      // Additional options here
      fetchPolicy: 'cache-and-network'
    },
  },
}
</script>

<style lang="scss" scoped>
  @import "assets/scss/booking"
</style>