<template>
    <section id="Notice1" class="d-flex w-100">

        <div class="info--paddingX">
            <p class="warning-1" v-if="!isLogin" v-html="$t('booking.lb_require_login',{'link' : loginLink } )"></p>
            <p class="warning-2" v-if="isLogin"> {{$t("booking.lb_warning_common_1")}}</p>
            <p class="warning-3" v-if="isLogin && haveSeleteSeat && !haveFreeSeat"> {{$t("booking.lb_warning_select_only.line_1")}}
                <br>
                {{$t("booking.lb_warning_select_only.line_2")}}
            </p>
            <p class="warning-4" v-if="isLogin && !haveSeleteSeat && haveFreeSeat"> {{$t("booking.lb_warning_free_only")}}</p>
            <p class="warning-5" v-if="isLogin && haveSeleteSeat && haveFreeSeat"> {{$t("booking.lb_warning_both_seat_type")}}</p>
            <p class="warning-6" v-if="isLogin && checkMemberValid"> {{ $t("booking.lb_warning_member_group")}}</p>
            <div v-for="(seat, seatIndex) in seats">
                <p class="warning-7" v-for="(ticket, ticketIndex) in seat.tickets" v-if="isLogin && ticket.ticket_unit > 1">
                    {{ $t("booking.lb_warning_unit_ticket",{'ticket': ticket.ticket_type_nm,
                    'number':ticket.ticket_unit}) }}
                </p>
            </div>

            <p class="warning-8" v-if="this.dataTicket.sales_term !='' ">
                {{$t("booking.lb_warning_common_2.line_1")}}
                <br>
                {{$t("booking.lb_warning_common_2.line_2")}}
            </p>
        </div>
    </section>
</template>

<script>
import {mapGetters} from 'vuex';
import Config from "@/constant/config";
import constant from '@/constant';

export default {
  name: "Warning",
  props: ['seats', 'dataTicket'],
  computed: {
    ...mapGetters({
      isLogin: 'auth/isLogin',
      myTickets: 'booking/myTickets',
      checkMemberValid: 'auth/checkMemberValid'
    }),
    haveFreeSeat: function () {
      let result = false;
      $.each(this.seats, function (seatName, seatInfo) {
        $.each(seatInfo.tickets, function (ticketIndex, ticketInfo) {
          if (ticketInfo.number_specified_flg == Config.NUMBER_TICKET) {
            result = true;
            return true;
          }
        });
      });

      return result;
    },
    haveSeleteSeat: function () {
      let result = false;
      $.each(this.seats, function (seatName, seatInfo) {
        $.each(seatInfo.tickets, function (ticketIndex, ticketInfo) {
          if (ticketInfo.number_specified_flg == Config.NOT_NUMBER_TICKET) {
            result = true;
            return true;
          }
        });
      });
      return result;
    },

    loginLink() {
      let link = '<a href="login">' + this.$t('common.links.login') + '</a>';
      return link;

    }
  }
}
</script>

<style scoped>

</style>