/* LOGIN ADMIN */

#MainC {
  margin-top: 70px;

  .login {
    display: block;
    max-height: 800px;
    height: 600px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 0px 50px 0px;
    background-color: #fff;
    border-left: solid #ddd 1px;
    border-right: solid #ddd 1px;

    .login-head {
      font-size: 1.5rem;
      text-align: center;
      background-color: #686859;
      border-color: white;
      box-shadow: none;
      padding: 16px 0px 0px 30px;
      margin-bottom: 15px;
      color: white;
      height: 60px;
      font-weight: 500
    }

    .login-form {
      margin-left: 20%;
      margin-right: 20%;
      width: 70%;

      p {
        font-style: normal;
        font-weight:normal;
        font-size: 1em;
        padding: 0px 0px 0px 0px;
        margin:  0px 0px 0px 0px;
      }

      a {
        color: blue;
      }

      a:hover {
        color: hotpink !important;
      }

      a:visited {
        color: blue;
      }

      .block {
        padding-bottom: 8px;
        padding-top: 8px;
        border: 1px solid;
        margin: 35px 0px 1px 0px;
        border-radius: 10px;

        .error-messenger {
          color: red;
          padding-top: 5px;
          text-align: center;
          font-size: 1.0em;
        }

        .block-inner {
          display: flex;
          padding-top: 7px;
          padding-left: 0px;
          padding-right: 0px;
          padding-bottom: 5px;

          .col-xl-3 {
            font-size: 115%;
            width: 40px;
            padding: 0px 0px 0px 4px;
          }

          .col-xl-4 {
            font-size: 115%;
            padding: 0px 5px 0px 28px;
            max-width: 230px;
          }

          .col-xl-8 {
            padding: 0px 0px 0px 0px;
          }

          .min-width-label {
            min-width: 160px;
          }
          .min-width-date {
            min-width: 130px;
          }

          input {
            padding-left: 9px;
            padding-top: 17px;
            padding-bottom: 15px;
            font-size: 19px;
            width: 100% !important;
            height: 40px;
            border-radius: 0;
          }

          input[type="password"] {
            font-family: caption;
          }

          .center {
            padding-left: 0px;
            text-align: center;
          }

          .right {
            padding-left: 0px;
            text-align: right;
          }

          .input-center {
            margin: auto;
          }

          button {
            color: #f1f1ed;
            display: block;
            width: 176px;
            height: 46px;
            margin: 0px auto;
            font-size: 1.0em;
            border: none;
            background: #174A52;
          }

          button:hover {
            display: block;
            width: 176px;
            height: 46px;
            margin: 0px auto;
            font-size: 1.0em;
            border: none;
            background: green;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  #MainC {

    .login {
      display: block;
      max-height: 700px;
      width: 100%;
      margin: 15px auto;
      padding: 0px 0px 0px 0px;
      background-color: #fff;
      border-left: solid #ddd 1px;
      border-right: solid #ddd 1px;

      .login-head {
        font-size: 1.3em;
        text-align: center;
        color: #fff;
        background-color: #686859;
        border-color: white;
        box-shadow: none;
        padding: 3px 0px 0px 20px;
        margin-bottom: 15px;
      }

      .login-form {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;

        p {
          font-style: normal;
          font-weight:normal;
          font-size: 1em;
          padding: 0px 0px 0px 0px;
          margin:  0px 0px 0px 0px;
        }

        a {
          color: blue;
        }

        a:hover {
          color: hotpink !important;
        }

        a:visited {
          color: blue;
        }

        .block {
          border: 1px solid;
          margin: 10px 0px 1px 0px;

          .error-messenger {
            color: red;
            padding-top: 5px;
            text-align: center;
            font-size: 1.0em;
          }

          .block-inner {
            display: block;
            padding-top: 5px;
            padding-bottom: 0px;

            .col-xl-4 {
              width: 100%;
              max-width: none;
              text-align: center;
              margin-bottom: 20px;
              padding: 0px 0px 0px 0px;
            }
            .no-padding {
              margin-bottom: 0px;
            }

            .col-xl-3 {
              width: 100%;
              text-align: center;
              padding: 0px 0px 0px 0px;
            }

            .col-xl-8 {
              margin: 0px 0 0px 0;
              width: 100%;
            }

            input {
              text-align: center;
              font-size: 22px;
              width: 100%;
              height: 40px;
              border: 1px solid #888;
            }

            input[type="password"] {
              font-family: caption;
            }

            .center {
              padding-left: 0px;
              text-align: center;
            }

            .right {
              padding-left: 0px;
              text-align: center;
            }

            .input-center {
              margin: auto;
            }

            button {
              color: #f1f1ed;
              display: block;
              width: 60%;
              height: 50px;
              margin: 2px auto;
              font-size: 1em;
              border: none;
              background: #174A52;
            }

            button:hover {
              display: block;
              width: 60%;
              height: 50px;
              margin: 2px auto;
              font-size: 1em;
              border: none;
              background: green;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
