/* COMPLETE SEND EMAIL 専用 */

#MainC {

  .login-head {
    font-size: 1.5rem;
    text-align: center;
    background-color: #686859;
    border-color: white;
    box-shadow: none;
    padding: 16px 0px 0px 30px;
    margin-bottom: 15px;
    color: white;
    height: 60px;
    font-weight: 500
  }

  .container {
    padding: 30px 30px 0 30px;

    .block {
      padding: 10px;
      margin-top: 5px;
      background-color: #dfe7f0;
    }
  }


  p {
    font-style: normal;
    font-weight:normal;
    font-size: 1em;
    padding-left: 15%;
    margin:  7px 0px 0px 0px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .center-align {
    margin-left: 18%;
    margin-right: 18%;
    width: 64%;

    a {
      color: blue;

    }
    a:hover {
      color: red !important;
    }

    a:visited {
      color: blue;
    }

    button {
      color: #f1f1ed;
      display: block;
      width: 176px;
      height: 46px;
      margin: 10px auto;
      font-size: 1.0em;
      border: none;
      background: #174A52;
    }

    button:hover {
      display: block;
      width: 176px;
      height: 46px;
      margin: 10px auto;
      font-size: 1.0em;
      border: none;
      background: green;
      cursor: pointer;
    }

    table {
      border: 1px solid;
      margin: 10px 0px 1px 0px;
      float: "left";

      th {
      text-align:center;
      padding-top: 1%;
      }

      td {
      padding: 7px 20% 0px 3% !important;
      width: 25%;
      font-size: 1.2em;
      float: center;
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  #MainC {
    .login-head {
      font-size: 1.5rem;
      text-align: center;
      background-color: #686859;
      border-color: white;
      box-shadow: none;
      padding: 16px 0px 0px 0px;
      margin-bottom: 15px;
      color: white;
      height: 60px;
      font-weight: 500
    }

    p {
      font-style: normal;
      font-weight:normal;
      padding: 0px 0% 0px 0%;
      margin:  0px 0px 0px 0px;
    }

    .center-align {
      display: block;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;

      a {
        color: blue;

      }
      a:hover {
        color: red !important;
      }

      a:visited {
        color: blue;
      }

      button {
        color: #f1f1ed;
        display: block;
        width: 100px;
        height: 50px;
        margin: 10px auto;
        font-size: 1em;
        border: none;
        background: #174A52;
      }

      button:hover {
        display: block;
        width: 100px;
        height: 50px;
        margin: 10px auto;
        font-size: 1em;
        border: none;
        background: green;
        cursor: pointer;
      }

      table {
        display: block;
        width: 100%;
        border: 1px solid;
        margin: 5px auto;
        padding: 0% 10% 0% 0% !important;

        th {
          font-size: 0.8em;
          text-align:center;
          padding-top: 1%;
        }

        td {
          padding: 7px 20% 0px 3% !important;
          width: 25%;
          font-size: 0.7em;
          float: center;
        }
      }
    }
  }
}
