/* LOGIN 専用 */

#MainC {

  .login {
    display: block;
    min-height: 800px;
    height: 600px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 0px 50px 0px;
    background-color: #fff;
    border-left: solid #ddd 1px;
    border-right: solid #ddd 1px;

    .login-head {
      font-size: 1.5rem;
      text-align: center;
      background-color: #686859;
      border-color: white;
      box-shadow: none;
      padding: 16px 0px 0px 30px;
      margin-bottom: 15px;
      color: white;
      height: 60px;
      font-weight: 500
    }

    .login-form {
      margin-left: 22%;
      margin-right: 22%;
      width: 56%;

      p {
        font-style: normal;
        font-weight:normal;
        font-size: 1em;
        padding: 0px 0px 0px 0px;
        margin:  8px 0px 0px 0px;
      }

      a {
        color: blue;
      }

      a:hover {
        color: hotpink !important;
      }

      a:visited {
        color: blue;
      }

      .block {
        border: 1px solid;
        margin: 10px 0px 1px 0px;
        border-radius: 10px;

        .error-messenger {
          color: red;
          padding-top: 5px;
          text-align: center;
          font-size: 1.0em;
        }

        .block-inner {
          display: flex;
          padding-top: 5px;
          padding-left: 5px;

          .max-width {
            max-width: 209px;
          }

          .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }

          .left {
            float: left;
          }

          .right {
            float: right;
          }

          input {
            padding-left: 4px;
            font-size: 22px;
            width: 100% !important;
            height: 40px;
            border: 1px solid #888;
          }

          input[type="password"] {
            font-family: caption;
          }

          .input-center {
            margin: auto;
          }

          button {
            color: #f1f1ed;
            display: inline-block;
            width: 176px;
            height: 46px;
            margin: 10px auto;
            font-size: 1.0em;
            border: none;
            background: #174A52;
          }

          button:hover {
            background: green;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {

  #MainC {

    .login {
      display: block;
      min-height: 700px;
      width: 100%;
      margin: 15px auto;
      padding: 0px 0px 0px 0px;
      background-color: #fff;
      border-left: solid #ddd 1px;
      border-right: solid #ddd 1px;

      .login-head {
        font-size: 1.3em;
        text-align: center;
        color: #fff;
        background-color: #686859;
        border-color: white;
        box-shadow: none;
        padding: 17px 0px 0px 20px;
        margin-bottom: 15px;
      }

      .login-form {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;

        p {
          font-style: normal;
          font-weight: normal;
          padding: 1px 4px 4px 4px;
          margin:  1px 0px 0px 2px;
        }

        a {
          color: blue;
        }

        a:hover {
          color: hotpink !important;
        }

        a:visited {
          color: blue;
        }

        .block {
          border: 1px solid;
          margin: 0px 0px 5px 0px;

          .error-messenger {
            color: red;
            padding-top: 5px;
            text-align: center;
            font-size: 1.0em;
          }

          .block-inner {
            display: block;
            padding-top: 5px;
            padding-bottom: 10px;

            .col-xl-4 {
              width: 100%;
              text-align: center;
            }

            .max-width {
              max-width: none;
            }
            .col-xl-8 {
              margin: 0px 0 0px 0;
              width: 100%;

              input {
                text-align: center;
                font-size: 22px;
                width: 100% !important;
                height: 40px;
                border: 1px solid #888;
              }

              input[type="password"] {
                font-family: caption;
              }

              .input-center {
                margin: auto;
              }
            }
            button {
              display: block;
              width: 60%;
              margin: 10px auto !important;
            }


            button:hover {
              background: green;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
