/* SETTING PASSWORD */

#MainC {

  .login {
    display: block;
    max-height: 800px;
    height: 600px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 0px 50px 0px;
    background-color: #fff;
    border-left: solid #ddd 1px;
    border-right: solid #ddd 1px;

    .container-block {
      padding: 30px 30px 0px 30px;

      .block-explain {
        padding: 10px;
        margin-top: 5px;
        background-color: #dfe7f0;
      }
    }

    .login-head {
      font-size: 1.5rem;
      text-align: center;
      background-color: #686859;
      border-color: white;
      box-shadow: none;
      padding: 16px 0px 0px 0px;
      margin-bottom: 15px;
      color: white;
      height: 60px;
      font-weight: 500
    }

    p {
      font-style: normal;
      font-weight:normal;
      font-size: 1em;
      padding: 8px 0px 0px 17%;
      margin:  auto;
    }

    .login-form {
      margin-left: auto;
      margin-right: auto;
      width: 650px;

      a {
        color: blue;
      }

      a:hover {
        color: hotpink !important;
      }

      a:visited {
        color: blue;
      }

      .block {
        border: 1px solid;
        margin: 20px 0px 1px 0px;
        padding: 5px 8px 5px 0px;

        .error-messenger {
          color: red;
          padding-top: 5px;
          text-align: center;
          font-size: 1.0em;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }

        .block-inner {
          display: flex;
          padding-top: 10px;

          .max-width {
            max-width: 209px;
          }

          input {
            padding-left: 4px;
            font-size: 22px;
            width: 100% !important;
            height: 36px;
            border: 1px solid #888;
          }

          input[type="password"] {
            font-family: caption;
          }

          .input-center {
            margin: auto;
          }

          button {
            color: #f1f1ed;
            display: block;
            width: 176px;
            height: 46px;
            margin: 10px auto;
            font-size: 1.0em;
            border: none;
            background: #174A52;
          }

          button:hover {
            display: block;
            width: 176px;
            height: 46px;
            margin: 10px auto;
            font-size: 1.0em;
            border: none;
            background: green;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  #MainC {

    .login {
      display: block;
      max-height: 800px;
      width: 100%;
      margin: 15px auto;
      padding: 0px 0px 0px 0px;
      background-color: #fff;
      border-left: solid #ddd 1px;
      border-right: solid #ddd 1px;

      .login-head {
        text-align: center;
        background-color: #686859;
        border-color: white;
        box-shadow: none;
        padding: 16px 0px 0px 0px;
        margin-bottom: 15px;
        color: white;
        height: 60px;
        font-weight: 500
      }

      p {
        font-style: normal;
        font-weight:normal;
        padding: 0px 5px 0px 10px;
        margin:  0px 0px 0px 0px;
      }

      .login-form {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;

        a {
          color: blue;
        }

        a:hover {
          color: hotpink !important;
        }

        a:visited {
          color: blue;
        }

        .block {
          border: 1px solid;
          margin: 10px 0px 1px 0px;
          border-radius: 10px;

          .error-messenger {
            color: red;
            padding-top: 5px;
            text-align: center;
            font-size: 1.0em;
          }

          .block-inner {
            display: block;
            padding-top: 5px;

            .col-xl-4 {
              width: 100%;
              text-align: center;
            }

            .max-width {
              max-width: none;
            }

            .col-xl-8 {
              margin: 0px 0 0px 0;
              width: 100%;

              input {
                padding-left: 2px;
                font-size: 22px;
                width: 100% !important;
                height: 36px;
                border: 1px solid #888;
              }

              .input-center {
                margin: auto;
              }
            }

            button {
              color: #f1f1ed;
              display: block;
              width: 60%;
              height: 50px;
              margin: 2px auto;
              font-size: 1em;
              border: none;
              background: #174A52;
            }

            button:hover {
              display: block;
              width: 60%;
              height: 50px;
              margin: 2px auto;
              font-size: 1em;
              border: none;
              background: green;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
