<template>
    <!-- Main Contents -->
    <div id="MainC">
        <!-- Main Contents -->
        <main id="ContentsPane">
            <h1 class="rs-title-pg"><span id="Pagetitle">{{$t('booking.header')}}</span></h1>
            <div id="LowerContents" class="booking">
                <div id="InfoContents">
                    <!--Notice-->
                    <Warning :seats="dataSeatType.seats" :dataTicket="dataTicket"></Warning>
                    <!--Notice End-->
                    <!--Ticket Info -->
                    <TicketInfo :dataTicket="dataTicket"></TicketInfo>

                </div>
                <!--Ticket Booking Content -->
                <TicketContent :seats="dataSeatType.seats" :sales_kb="dataSeatMap.length>0 ?dataSeatMap[0].sales_kb : 1 "></TicketContent>
                <!--Ticket Booking Content End -->

                <!--Ticket Summary -->
                <TicketSummary></TicketSummary>
                <!--Ticket Summary End-->
                <!--Hidden input for save before change-->
                <input type="hidden" id="booking-before" >
                <!--Notice-->
                <section id="Notice2" v-if="isLogin && haveMemberDiscount">
                    <p class="text-center">{{$t("booking.lb_warning_common_3")}}</p>

                </section>
                <!--Notice End-->
                <div id="Pagination">
                    <div class="d-flex justify-content-between">
                        <button class="rs-btn btn-green-dark mx-0" @click="onBackBtn">
                            {{ $t('booking.btn_back') }}
                        </button>
                        <button class="rs-btn btn-green-dark mx-0" @click="onNextBtn">
                            {{ $t('booking.btn_next') }}
                        </button>
                    </div>
                </div>
            </div>
            <!--Modal require login-->
            <LoginModal/>
            <!--Modal require validate-->
            <WarningModal :message="message"/>
        </main>
        <!-- Main Contents end -->
    </div>
    <!-- Main Contents end -->
</template>
<script  src="@/business/booking/BookingBusiness.js"></script>
<style lang="scss" >
    @import "./assets/scss/booking";
</style>




