<template lang="html">
  <div id="MainC" class="register-step-2">
    <main id="ContentsPane">
      <h1 class="rs-title-pg"><span id="Pagetitle">{{ $t('updateInfomation.lb_title_confirm_inf') }}</span></h1>

      <!-- Show text explain -->
      <div class="container">
        <div class="block">
          <div class="msg-inline">
            {{ $t('message.msg039_explain_confirm_input.line_1') }}
          </div>
          <div class="msg-inline">
            {{ $t('message.msg039_explain_confirm_input.line_2') }}
            {{ $t('message.msg039_explain_confirm_input.line_3') }}
          </div>
        </div>
      </div>
      <!-- End show text explain -->

      <!-- Show infomation -->
      <div class="container">
        <div class="row">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_mail') }}</label>
          </div>
          <div class="col-md-6 lbl-content">
             <label>{{ model.mail_address }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_full_name') }}</label>
          </div>
          <div class="col-md-6 lbl-content">
            <label>{{ model.member_nm }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_furigana') }}</label>
          </div>
          <div class="col-md-6 lbl-content">
            <label>{{ model.member_kn }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_phone_number') }}</label>
          </div>
          <div class="col-md-6 lbl-content">
            <label>{{ model.tel_no }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_cell_phone') }}</label>
          </div>
          <div class="col-md-6 lbl-content">
            <label>{{ model.mobile_no }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_zipcode') }}</label>
          </div>
          <div class="col-md-6 lbl-content">
            <label>{{ model.postCode1 }}-{{ model.postCode2 }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_city') }}</label>
          </div>
          <div class="col-md-6 lbl-content">
            <label>{{ model.prefecture }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_district') }}</label>
          </div>
          <div class="col-md-6 lbl-content">
            <label>{{ model.municipality }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_detail_address') }}</label>
          </div>
          <div class="col-md-6 lbl-content">
            <label>{{ model.address1 }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_building_room') }}</label>
          </div>
          <div class="col-md-6 lbl-content">
            <label>{{ model.address2 }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_birthday') }}</label>
          </div>
          <div class="col-md-6 lbl-content">
            <label>
              {{ $t('updateInfomation.lb_calendar') + ' ' + dataShowBirthday.year + ' '
                + $t('updateInfomation.lb_year') + ' ' + dataShowBirthday.month + ' '
                + $t('updateInfomation.lb_month') + ' ' + dataShowBirthday.day + ' ' + $t('updateInfomation.lb_day')
              }}
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_gender') }}</label>
          </div>
          <div class="col-md-6 flex-block lbl-content">
            <span class="between" v-if="model.sex_type == isMale">{{ $t('updateInfomation.lb_male') }}</span>
            <span class="between" v-if="model.sex_type == isFemale">{{ $t('updateInfomation.lb_female') }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_password') }}</label>
          </div>
          <div class="col-md-6 lbl-content">
            <label>{{ $t('message.msg020_password_security') }}</label>
          </div>
        </div>

        <div class="row" v-if="model.flagShowMemberCode">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_member_code') }}</label>
          </div>
          <div class="col-md-6 lbl-content">
            <label v-if="dataInit.memberInf">{{ dataInit.memberInf.member_id }}</label>
            <label class="ml-4" v-if="dataInit.memberInf">{{ dataInit.memberInf.member_kb_type_nm }}</label>
          </div>
        </div>

        <div class="row" v-if="model.flagShowMagazineMail">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_magazine_mail') }}</label>
          </div>
          <div class="col-md-6 flex-block lbl-content">
            <span class="between" v-if="model.mail_send_flg == get">{{ $t('updateInfomation.lb_get') }}</span>
            <span class="between" v-if="model.mail_send_flg == notGet">{{ $t('updateInfomation.lb_not_get') }}</span>
          </div>
        </div>

        <div class="row" v-if="model.flagShowDirectMail">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_direct_mail') }}</label>
          </div>
          <div class="col-md-6 flex-block lbl-content">
            <span class="between" v-if="model.post_send_flg == get">{{ $t('updateInfomation.lb_get') }}</span>
            <span class="between" v-if="model.post_send_flg == notGet">{{ $t('updateInfomation.lb_not_get') }}</span>
          </div>
        </div>

        <div class="row" v-if="model.flagShowGenre">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_favorite_genres') }}</label>
          </div>
          <div class="col-md-6 lbl-content">
            <div class="inline items" v-for="line in dataInit.countLineGenre">
              <div class="inline item-genre" v-for="(genre, index) in dataInit.listGenre[line - 1]" :key="index">
                <label v-if="model.list_genre.find(e => e == genre.genre_no)" class="label-checkbox">{{ genre.genre_nm }}</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 lbl-inf">
            <label>{{ $t('updateInfomation.lb_login_id') }}</label>
          </div>
          <div class="col-md-6 lbl-content">
            <label>{{ model.login_id }}</label>
          </div>
        </div>

        <div class="row">
          <div class="block-action">
            <button class="rs-btn btn-large btn-green-dark block-left"
              data-toggle="modal" data-target="#confirm-stop-updateInfomation" @click.prevent="backToPrevPage()">
              {{ $t('updateInfomation.btn_fix_update') }}
            </button>
            <button @click.prevent="updateInf()" class="rs-btn btn-large btn-green-dark block-right">
              {{ $t('updateInfomation.btn_change') }}
            </button>
          </div>
        </div>
      </div>
      <!-- End show infomation -->

      <!-- Show modal -->
      <div class="modal fade" id="dialog-error"
        tabindex="-1" role="dialog"
        aria-labelledby="title-stop"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="title-stop">{{ $t('common.lb_dialog_confirm') }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <p>{{ $t('message.msg035_order_exists.line_1') }}</p>
              <p>{{ $t('message.msg035_order_exists.line_2') }}</p>
            </div>
            <div class="modal-footer">
              <div class="block-action">
                <button type="button" class="rs-btn btn-small btn-primary block-right" data-dismiss="modal">
                  {{ $t('common.btn_ok') }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End show modal -->
    </main>
  </div>
</template>

<script src="@@/business/my_page/ConfirmUpdateBusiness.js">
</script>

<style lang="scss" scoped>
  @import "assets/scss/register";
</style>
