<template lang="html">
  <div id="MainC" class="membership-register-2">
    <main id="ContentsPane">
      <!-- Show title -->
      <h1 class="rs-title-pg"><span id="Pagetitle">{{ $t('member.title_confirm_membership') }}</span></h1>
      <div class="container">
        <div class="block">
          {{ $t('message.msg009_explain_input_inf.msg_1_head.dot') }}
          {{ $t('message.msg046_confirm_register_member.line_1') }}
          <br/>
          {{ $t('message.msg009_explain_input_inf.msg_1_head.dot') }}
          {{ $t('message.msg046_confirm_register_member.line_2') }}
        </div>
      </div>
      <!-- End show explain -->

      <!-- Confirm membership register -->
      <div class="container">
        <div class="m-5 mx-auto text-left confirm">
          <div class="row wrap">
            <div class="col-4">{{ $t('member.lb_membership_name') }}</div>
            <div class="col-8">{{ val.member_kb_type_nm }}</div>
          </div>
          <div class="row wrap" v-if="flg.date_flg">
            <div class="col-4">{{ $t('member.lb_membership_date') }}</div>
            <div class="col-8">{{ val.date_value }}</div>
          </div>
          <div class="row" v-if="flg.member_enter_flg">
            <div class="col-4">{{ $t('member.lb_member_enter_fee') }}</div>
            <div class="col-8">{{ $currency(val.member_enter_value) }}</div>
          </div>
          <div class="row" v-if="flg.membership_flg">
            <div class="col-4">{{ $t('member.lb_membership_fee') }}</div>
            <div class="col-8">{{ $currency(val.membership_value) }}</div>
          </div>
          <div class="row" v-if="flg.unit_flg">
            <div class="col-4">{{ $t('member.lb_membership_count') }}</div>
            <div class="col-8">{{ val.unit + $t('member.lb_person') }}</div>
          </div>
          <div class="row" v-if="flg.membership_total_flg">
            <div class="col-4">{{ $t('member.lb_membership_total') }}</div>
            <div class="col-8">{{ $currency(val.membership_total) }}</div>
          </div>
          <div class="row wrap" v-if="flg.pay_char">
            <div class="col-4">{{ $t('member.lb_membership_pay') }}</div>
            <div class="col-8">{{ val.pay_char }}</div>
          </div>
          <div class="row" v-if="flg.convini_flg">
            <div class="col-4">{{ $t('member.lb_membership_convini') }}</div>
            <div class="col-8">{{ $currency(val.convini_fee) }}</div>
          </div>
          <div class="row" v-if="val.membership_total_pay">
            <div class="col-4">{{ $t('member.lb_membership_total_pay') }}</div>
            <div class="col-8">{{ $currency(val.membership_total_pay) }}</div>
          </div>
        </div>
      </div>
      <!-- End Information member association -->

      <!-- Button action -->
      <div class="container">
        <div class="block-action">
          <button class="btn rs-btn btn-large btn-green-dark block-left" @click.prevent="goToBack()">
            {{ $t('common.btn_back') }}
          </button>
          <button class="btn rs-btn btn-large btn-green-dark block-right" @click.prevent="goToNextPage()">
            {{ $t('member.btn_register_member') }}
          </button>
        </div>
      </div>
      <!-- End button action -->
    </main>
  </div>
</template>

<script src="@@/business/membership/ConfirmMembershipBusiness.js">
</script>

<style lang="scss" scoped>
  @import "assets/scss/member";
</style>
