 /* アイコン通知バッジ */


.circle {
    width:15px;
    padding:2px;
    height:15px;
    
    bottom:15px;
    right:-12px;
    
    
    
    position:absolute;
    background:white;
    border-radius:50%;
    box-shadow:1px 1px 1px rgba(0,0,0,0.4);
    text-indent:1px;
    font-weight:bold;
    text-align:center;
    font-size:12px;
    line-height:16px;
    color:white;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: bottom center;
    -webkit-animation-name: animation-bell;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: bottom center;
    -moz-animation-name: animation-bell;



    background: rgb(255,0,132); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,0,0,1)), color-stop(100%,rgba(255,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,0,0,1) 0%,rgba(255,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,0,0,1) 0%,rgba(255,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,0,0,1) 0%,rgba(255,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,0,0,1) 0%,rgba(255,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */


}



