@import "variables";
@import "mixins/button";

.booking-method-payment{
  .block-explain{
    border: 1px solid $bg-color-h2;
    border-radius: 7px;
    padding: 20px;
    background: $color-white-opaque-1;
    margin-bottom: 40px;
  }

  .block-method{
    padding-bottom: 20px;
    .methods-payment{
      list-style: none;
      padding: 0;
      padding-left: 10px;
      > li{
        padding: 5px 5px 5px;
        border-bottom: 1px dashed $color-silver-dark;
        &:last-child{
          border: none;
        }
        &:hover{
          background: $color-blue-dianne;
        }
        .lbl-methods-payment{
          margin: 0;
          display: inline-block;
          min-width: 200px;
          padding-left: 5px;
          font-weight: bold;
          font-size: 100% + 10%;
          cursor: pointer;
          &:hover{
            color: $color-silver-dark;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
          }
        }
        &.no-select *{
          color: $color-silver-dark !important;
          cursor: not-allowed;
        }
        .error-link-maintance{
          color: $color-error !important;
        }
      }
    }
    .method-explain{
      margin-left: 20px;
    }
    .methods-recieve{
      list-style: none;
      padding: 0;
      padding-left: 20px;
      .lbl-methods-receive{
        margin: 0;
        display: inline-block;
        min-width: 200px;
        padding-left: 5px;
        cursor: pointer;
        font-weight: bold;
        &:hover{
          color: $color-anchor-main-hover;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s;
        }
      }
      > li{
        color: $color-anchor-main;
        margin-top: 10px;
      }
    }
  }

  .block-delivery{
    margin: 0;
    padding-top: 40px;
    border-top: 1px solid $color-white-opaque-1;
    .form-receive{
      .bl-explain-input{
        margin-top: 5px;
      }
      .btn-search-address{
        cursor: no-drop;
        opacity: 0.7;
        filter: alpha(opacity=0.7);
        -webkit-transition: 0.3s;
        transition: 0.3s;
        &.active{
          cursor: pointer;
          opacity: 1;
          filter: alpha(opacity=1);
          -webkit-transition: 0.3s;
          transition: 0.3s;
        }
      }
      .lbl-error{
        color: $color-red-plain;
      }
    }
    .block-error{
      list-style: none;
      padding: 10px;
      li{
        list-style: none;
      }
    }
  }

  .bl-head{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 110%;

  }
}
