/* カート・購入システム用 */

#nocart {
	font-size: 1.2em;
	color: #000;
	font-weight: bold;
}
.cartTable {
	border-collapse: collapse;
	border: 1px solid #333;
	margin: 20px 0 40px;
}

.cartTable th, .cartTable td {
	padding: 10px;
	margin: 0;
	border: none;
	text-align: left;
	vertical-align: top;
}
.cartTable th {
	width: 120px;
}
.cartTable th, .cartTable td {
	border-bottom: 1px solid #333;
}
.cartTable tr:last-child th, .cartTable tr:last-child td {
	border-bottom: none;
}
.selSeat {
	color: #c00;
	font-weight: bold;
}
.sysFix img {
	max-width: 100%;
    height: auto;

}
.overflowAuto {
	overflow: auto;
}
#paySel dt {
	font-weight: bold;
}

.bg-color-header {
	background-color: #cecebf;
}
//.lower-cart{
//  margin: 30px;
//}
//colors
$color_reno_sand_approx: hsla(34, 85%, 35%, 1);
$white:  white;
$black: black;
$color_mexican_red_approx: brown;
$hot_cinnamon: chocolate;

//fonts
$font_0: Sans-Serif;

.breadcrumb {
	list-style: none;
	overflow: hidden;
	font: 18px $font_0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	padding: 0;
	li {
		width: 25%;
		a::after {
			content: " ";
			display: block;
			width: 0;
			height: 0;
			border-top: 25px solid transparent;
			border-bottom: 25px solid transparent;
			border-left: 30px solid $color_reno_sand_approx;
			position: absolute;
			top: 50%;
			margin-top: -25px;
			left: 99%;
			z-index: 2;
		}
		a::before {
			content: " ";
			display: block;
			width: 0;
			height: 0;
			border-top: 25px solid transparent;
			border-bottom: 25px solid transparent;
			border-left: 30px solid $white;
			position: absolute;
			top: 50%;
			margin-top: -25px;
			margin-left: 1px;
			left: 99%;
			z-index: 1;
		}
		&:last-child {
			a {
				color: $black;
				pointer-events: none;
				cursor: default;
			}
			a::after {
				border: 0;
			}
		}
		a {
			width: 100%;
			text-align: center;
			pointer-events: none;
			color: $white !important;
			height: 50px;
			text-decoration: none !important;
			padding: 10px 0 10px 20px;
			background: $color_mexican_red_approx;
			background: $color_reno_sand_approx;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1em;
			float: left;
		}
		@media (max-width: 320px) {
			a {
				font-size:0.65em;
			}
		}
		&:first-child a {
			padding-left: 30px;
		}
		&.active a {
			background-color: $hot_cinnamon;
			&:after {
				border-left-color: $hot_cinnamon;
			}
		}
	}
}

.table-sales {
	overflow: auto;
	.row-sales {
		min-width: 500px;
	}
    .w-58 {
      width: 59% !important;
    }
}

.min-w-btn {
  min-width: 172px;
}

.icon-user-color {
  color: #174A52;
}

.animation-loading {
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    -webkit-animation: loading 1s infinite;
    -o-animation: loading 1s infinite;
    animation: loading 1s infinite;
  }
  @keyframes loading {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
}