/* 各部配色 */

/* 全体の両サイド コンテンツ文字色 */
body {
	background-color: #f7f7f8;
	color: #333;
}

/* ヘッダ部両脇 */
#HeadWrap {
	background-color: #fff;
}

/* ヘッダ部背景色（ログイン背景色も同色） */
#Header, #LoginOuterWrap {
	background-color: #f3f3f3;
}

/* ヘッダ部メニューマウスオーバー及びボタン色 */
#TmenuGR li a:hover,#TmenuGR li.select a, .submit input, span.linkBtn, .submit button {
	background-color: #464637;
	color: #f3f3f3;
}


/* ヘッダ部テキストリンク色 */
#Header a, #LoginWrap, #LoginWrap a{
	color: #174A52;
}
#Header a:hover {
	color: crimson
}
/* H1 背景色 */
h1 {
	background: #606060;
}
/* コンテンツ部テキストリンク色 */
#MainC a {
	color: #00468C;
}
#MainC a:hover, #LoginWrap a:hover {
	color: darkorange;
}

/* 公演一覧ページネーションマウスオーバー */
#MainC div.pagination ul li a:hover {
    background: #464637;
	color: #f3f3f3;
}

/* ハンバーガーアイコン線色 */
.menu-trigger span {
  background-color: #464637;
}
/* ページトップボタン */
.scrollup {
	color: #aaa;
}