//colors
$black: #000;
$color_storm_dust_approx: #666;

section {
  &#eventDate {
    display: block;
    padding-bottom: 6px;
    color: $black;
    font-weight: bold;
    border-bottom: $color_storm_dust_approx 1px dotted;
  }
  &#eventGenre {
    font-size: smaller;
    img {
      vertical-align: bottom;
    }
  }
  &#eventcolumn_upper {
    display: block;
    width: 100%;
    ul li {
      &#eventPhotoL {
        width: 400ps;
        float: left;
        list-style: none;
      }
      &#eventSchedule {
        display: block;
        float: left;
        list-style: none;
        padding: 0 0 30px 15px;
      }
    }
  }
  &#eventcolumn_lower {
    float: left;
    display: block;
    width: 100%;
    li {
      list-style: none;
      padding: 0 0 20px 0;
    }
  }
}
#eventSchedule {
  dl {
    font-size: 0.9em;
  }
  dt {
    padding: 0;
    margin: 0;
  }
  dd {
    padding: 0 0 10px 0;
    margin: 0;
  }
}
h2#eventTitle {
  background: none;
  padding-left: 0;
}
