@import "~assets/scss/variables";
.membership-register-1 {
  .container {
    width: auto;
    padding: 30px 30px 0px 30px;
    font-size: 100%;

    .head-msg-fullsize {
      margin-left: -15px;
      margin-right: -5px;
    }

    .block {
      background: $color-blue-dianne;
      margin-top: 5px;
      padding: 10px;
    }

    #accordion {

      .card {
        border-width: 0px;
        border-color: $color-blue-dianne;
        border-left-width: 5px;
        margin-bottom: 10px;

        .card-header {
          border-bottom: none;

          input[type="radio"].member_kb_no {
            margin-right: 10px;
            float: left;
            width: 20px;
            height: 20px;
          }

          label {
            text-align: justify;
            display: block;
            width: 95%;
            font-size: 20px;
            margin-left: 10px;

            .responsive {
              padding: 0;
              display: initial;

              p {
                padding: 0;
              }
            }

            p {
              padding: 0;
              display: initial;
            }
          }
        }

        .card-body {
          padding: 0;
          margin-left: 100px;

          .title {

            input[type="text"].unit {
              height: 22px;
              text-align: center;
              margin: 0;
            }

            label {
              display: initial;
            }
          }

          .cart {

            input[type='radio'] {
              margin: 5px 15px 0 15px;
            }

            .cart-bank {
              margin-left: 66px;
            }
            .cart-cash {
              margin-left: 66px;
            }
            .cart-convini {
              margin-left: 66px;
            }
            .cart-credit {
              margin-left: 66px;
            }
          }
        }
      }
    }

    .block-action {
      padding: 5px 0 0 0;
      height: 100px;

      button {
        margin-top: 15px;
        border-radius: 0;
      }

      .block-left {
        float: left;
      }

      .block-right {
        float: right;
      }
    }

    .rules {
      margin-top: -20px;

      input[type='checkbox'] {
        width: 15px;
        height: 15px;
      }

      label {

      }
    }

    .error {

      label {
        display: block;
      }
    }
  }
}

.membership-register-2 {

  .container {
    width: auto;
    padding: 30px 30px 0px 30px;
    font-size: 100%;

    .block {
      width: 75%;
      margin: auto;
      background: $color-blue-dianne;
      margin-top: 5px;
      padding: 10px;
    }

    .confirm {
      width: 75%;
      margin-top: 0!important;
      margin-bottom: 0!important;
      border: 1px solid #ccc;
      padding: 20px;

      .row {
        padding: 5px;

        .col-8 {
          word-break: break-all;
        }
      }
    }

    .block-action {
      width: 75%;
      padding: 5px 0 0 0;
      height: 100px;
      margin: auto;

      button {
        margin-top: 15px;
        border-radius: 0;
      }

      .block-left {
        float: left;
      }

      .block-right {
        float: right;
      }
    }
  }
}

.membership-register-3 {
  .container {
    .complete {
      padding: 20px;
      background-color: $color-blue-dianne;
    }

    .block-action {

      button {
        border-radius: 0;
      }
    }

    .info-client {
      border: 1px solid #ccc;
    }
  }
}

/** Tablet screen **/
@media only screen and (max-width: 768px) {
  .membership-register-2 {
    .container  {
      .block {
        width: 90%;
      }

      .confirm {
        width: 90%;
      }

      .block-action {
        width: 90%;
      }
    }
  }
}

/** Tablet screen **/
@media only screen and (max-width: 720px) {
  .membership-register-1 {

    .container {

      #accordion {

        .card {

          .card-header {
            padding-top: 0;
            padding-bottom: 0;



            label {
              font-size: 16px;
              line-height: 10px;
              text-align: justify;
              display: block;
              width: 95%;
              margin-left: 10px;

              .responsive {
                display: block;
                margin-left: 3em;
              }

              p {
                line-height: 21px;
                padding: 0;
                display: block;
                margin-left: 0!important;
              }
            }
          }

          .card-body {
            margin-left: 25px;
          }

          .title {

            input[type="text"].unit {
              margin-right: 15px!important;
              height: 22px;
              border: 1px solid black;
            }

            label {
              display: initial;
              margin-left: -7px;
              font-size: 14px;

              span {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

/** Tablet screen **/
@media only screen and (min-width: 720px) {
  .membership-register-3 {
    .container {
      .complete {
        width: 75%;
      }

      .info-client {
        width: 75%;
      }
    }
  }
}

/** responsive screen **/
@media only screen and (max-width: 562px) {
  .membership-register-1, .membership-register-2 {

    .container {

      .block-action {

        button {
          width: 115px;
          height: 40px;
        }
      }
    }
  }
}

/** Mobile Pixel 2, IPhone 567 Plus, X **/
@media only screen and (max-width: 414px) {
  .membership-register-1 {

    .container {

      #accordion {

        .card {

          .card-header {

            label {
              font-size: 15px;

              .responsive {
                margin-left: 10px;
              }

              p {
                width: 113%;
              }
            }
          }

          .card-body {

          }

          .title {

            input[type="text"].unit {

            }

            label {

              span {

              }
            }
          }
        }
      }
    }
  }

  .membership-register-2 {
    .container {
      .confirm {
        .row, .wrap {
          .col-4, .col-8 {
            padding-right: 0px;
          }
        }

        .row {
          .col-4, .col-8 {
            padding-left: 0px;
          }
        }

        .wrap {
          display: table;

          .col-4, .col-8 {
            max-width: 100%;
          }

          .col-4 {
            padding-left: 0px;
          }

          .col-8 {
            padding-left: 20px;
          }
        }
      }
    }
  }
}

/** Mobile IPhone 5, Galaxy S% **/
@media only screen and (max-width: 360px) {
  .membership-register-1 {

    .container {

      #accordion {

        .card {

          .card-header {

            label {
              font-size: 13px;

              .responsive {
                margin-left: 10px;
              }

              p {
                width: 113%;
              }
            }
          }

          .card-body {

          }

          .title {

            input[type="text"].unit {

            }

            label {

              span {

              }
            }
          }
        }
      }
    }
  }

  .membership-register-2 {
    .container {
      .block-action {
        button {
          width: 100px;
        }
      }
    }
  }
}
