@import "variables";
.payment-card{
  .top-note{
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
    background-color: #fefefe;
    box-shadow: 0px 1px 1px 1px #ececec;
  }
  .form-card{
    .exp-field{
      margin-top: 7px;
    }
    .group-expired{
      .expired-date{
        float: left;
        width: 100px;
      }
      .lbl-expired-date{
        padding-top: 9px;
        padding-left: 5px;
        float: left;
      }
      .lbl-separate{
        padding-top: 9px;
        float: left;
      }
    }
    .v-error{
      clear: both;
      color: $color-red-plain;
      display: table;
      padding-top: 5px;
    }
    .desc-secure-code{
      margin-top: 20px;
      h5{
        font-weight: bold;
      }
      .sc-line{
      }
      .sc-img{
        img{
          margin: 10px 5px 10px 0;
          width: 50%;
          min-width: 250px;
          max-width: 300px;
        }
      }
    }
  }
  .block-button{
    margin-top: 30px;
  }
  .block-error{
    list-style: none;
  }
}
