@import "~assets/scss/variables";
.register-step-1, .update-infomation {
  .alert {
    text-align: center;

    label {
      display: block;
    }
  }

  .container {
    font-size: 100%;
    width: auto;
    padding: 30px 30px 0px 30px;

    .head-msg-fullsize {
      margin-left: -15px;
      margin-right: -5px;
    }
  }

  #RegForm {
    table {
      display: table;
      table-layout: fixed;

      tbody {
        tr {
          td{
            width: auto;
          }
          .td-head {
            width: 30% !important;

            label {
              float: left;
              font-weight: 700;
            }
          }

          .td-content {
            input {
              width: 70%;
              display: block;
            }

            .extension {
              float: left;
            }

            select {
              width: 30%;
            }
          }

          .flex-block {
            display: flex;
            input[type=text] {
              width: 10%;
            }

            input[type=radio] {
              width: 18px;
              height: 24px;
              margin: 4px;
            }

            .between {
              margin: $pad-th-tbl;
            }

            button {
              height: 35px !important;
              margin: 0px 0 0 15px;
            }
          }
        }
      }
    }
  }

  .block {
    padding: 10px;
    margin-top: 5px;
    background-color: #dfe7f0;

    .area-input {
      margin-top: 5px;

      input[type=text] {
        height: 35px;
        border: 1px solid #888;
        font-size: 1.2em;
        margin-left: 25px;
      }
    }
  }

  .block-input {
    margin-top: 20px;

    .inline {
      display: flex;
      padding: $pad-th-tbl 0 0px 0;

      .label-inf {
        width: 30%;
      }

      .label-checkbox {
        width: 100px;
        word-wrap: break-word;
        word-break: break-all;
      }

      .content {
        width: 70%;

        .items {
          padding-top: 0px;

          .item-genre {
            padding-top: 0px;
          }
        }

        .content-inner {
          position: relative;
          margin-top: 2px;
          width: 146px;
          margin-right: 30px;

          label {
            position: absolute;
            right: 10px;
          }
        }

        input {
          width: 18px;
          height: 24px;
        }
      }

      .content-flex {
        display: flex;
      }
    }

    .block-action {
      padding: $pad-th-tbl 0 0px 0;
      height: 100px;

      button {
        margin-top: 15px;
      }

      .block-left {
        float: left;
      }

      .block-right {
        float: right;
      }
    }
  }

  .modal-footer {
    .block-action {
      width: 100%;

      button {
        margin-top: 15px;
      }

      .block-left {
        float: left;
      }

      .block-right {
        float: right;
      }
    }
  }
}

.register-step-2 {
  .container {
    font-size: 100%;
    width: auto;
    padding: 30px 30px 0px 30px;

    .row {
      .col-md-3 {
        label {
          font-weight: 700;
        }
      }

      .lbl-content {
        label {
          word-break: break-word;
          word-wrap: break-word;
          word-break: break-all;
        }

        .items {
          padding-top: 0px;

          .item-genre {
            padding-top: 0px;
          }
        }
      }
    }

    .block {
      padding: 10px;
      margin-top: 5px;
      background-color: #dfe7f0;

      .msg-inline {
        width: 96%;
      }
    }

    .flex-block {
      display: flex;

      input[type=radio] {
        width: 10%;
        height: 18px;
        margin-right: 5px;
        margin-top: 2px;
      }

      .between {
        margin-right: $pad-th-tbl;
      }
    }

    .block-action {
      padding: $pad-th-tbl 0 0px 0;
      height: 100px;
      width: 100%;

      button {
        margin-top: 15px;
      }

      .block-left {
        float: left;
      }

      .block-right {
        float: right;
      }
    }

    .inline {
      display: flex;
      padding: $pad-th-tbl 0 0px 0;

      .label-checkbox {
        margin-right: 10px;
      }

      input {
        width: 18px;
        height: 24px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .register-step-1, .update-infomation {
    .block-input {
      .inline {
        .label-checkbox {
          width: 75px;
        }

        .label-inf {
          width: 40%;
        }

        .content {
          .items {
            display: table !important;
            width: 100%;
            padding-top: 0px;

            .item-genre {
              float: left;
              width: 50%;
              padding-top: 0px;

              label {
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }

  .register-step-2 {
    .container {
      .row {
        .lbl-inf {
          max-width: 40%;
        }

        .lbl-content {
          max-width: 60%;

          .ml-4 {
            margin-left: 0px !important;
          }

          .items {
            display: table !important;
            width: 100%;
            padding-top: 0px;

            .item-genre {
              float: left;
              width: 50%;
              padding-top: 0px;

              label {
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 562px) {
  .register-step-1, .update-infomation {
    #RegForm {
      table {
        tbody {
          tr {
            .td-content {
              input[type=text], input[type=email], input[type=password] {
                width: 100%;
              }

              select {
                width: 100% !important;
              }
            }

            .gender {
              display: flex !important;
            }

            .flex-block {
              display: block;

              input[type=text] {
                width: 100%;
              }

              button {
                margin-top: 4px !important;
                margin-left: 0px;
                width: 100%;
              }
            }
          }
        }
      }
    }

    .block-input {
      .inline {
        .label-checkbox {
          width: 32px;
        }

        .content-flex {
          display: table;

          .content-inner {
            margin-right: 0px;

            .label-radio {
              width: 70%;
            }
          }
        }
      }

      .block-action {
        button {
          width: 115px;
          height: 40px;
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .register-step-1, .update-infomation {
    .block-input {
      .inline {
        .label-inf {
          width: 65%;
        }
      }
    }
  }

  .register-step-2 {
    .container {
      .rs-btn.btn-large {
        width: 58px;
        height: 40px;
      }
    }
  }

  .block {
    .area-input {
      .txt-member-code, .txt-member-login-id {
        margin-left: 0px !important;
        width: 100%;
      }
    }
  }
}
