@import "variables";
@import "mixins/button";

$show-item-color-bg: #e8e8e1;
$show-acept-border-color: #cecebf;
.show-list-page {
  .notify-list {
    margin-bottom: 10px;
    .notify-item {
      padding: 5px 0;
      border-bottom: 1px dotted $color-silver-dark;
      &:last-child {
        border: none;
      }
      .notify-tt {
        font-weight: bold;
        color: $color-green-dark;
        margin: 0;
        word-break: break-all;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
      }
      .notify-ct {
        padding-left: 0px;
        line-height: 1.9;
        word-break: break-all;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
      }
      .notify-dt {
        margin-right: 10px;
        padding: 3px 5px;
        line-height: 1;
        color: $color-red-plain;
        background-color: $color-white-opaque-1;
      }
    }
  }
  .show-list {
    .rs-image {
      &.no-image {
        &::after {
          display: none;
        }
      }
      position: relative;
      &::after {
        content: '';
        height: 30px;
        width: 30px;
        border: 3px solid #000;
        border-right-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
        -webkit-animation: rs-spinner infinite 1s linear;
        -o-animation: rs-spinner infinite 1s linear;
        animation: rs-spinner infinite 1s linear;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        margin-top: -15px;
        margin-left: -15px;
      }
      &.loading {
        &::after {
          display: block;
        }
      }
    }
    /* Start style show item*/
    .show-item {
      display: block;
      margin: 10px 0;
      background-color: $show-item-color-bg;
      clear: both;
      padding: 5px;
      .col-show {
        padding: 5px;
        float: left;
        min-width: 100px;
        &.fl-right {
          float: right;
        }
      }
      .row-show {
        clear: both;
      }
      .show-top {
        padding: 10px 0;
      }
      .show-body {
        //padding: 5px;
        border: 1px solid $show-acept-border-color;

        .rs-image{
          overflow: hidden;
          position: relative;
          text-align: center;
          img{
            height: 100%;
            display: block;
            width: auto;
            margin-right: auto;
            margin-left: 50%;
            margin-top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
          &.rs-h-auto{
            img{
              width: 100%;
              height: auto;
            }
          }
          &.rs-w-auto{
            img{
              width: auto;
              height: 100%;
            }
          }
        }
      }
      .show-main-tt {
        word-wrap: break-word;
        word-break: break-all;
        width: 30%;
      }
      .show-date {
        width: 30%;
      }
      .show-type {
        width: 15%;
      }
      .show-status {
        width: 10%;
      }
      .show-hall {
        width: 15%;
      }
      .show-button {
        width: 150px;
      }
      .show-desc {
        word-break: break-all;
        word-wrap: break-word;
        width: calc(100% - 150px);
      }
      .show-accept-item {
        border: 1px solid #ccc;
        margin: 5px 0;
        clear: both;
        .show-main-tt {
          width: 40%;
        }
        .show-date {
          width: 40%;
        }
        .show-status {
          width: 20%;
        }
      }
      .slot-seat {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #47499d;
        border-radius: 5px;
        background: #ffffff;
        font: italic normal normal 14px arial;
        color: #5456b9;
        text-decoration: none;
        padding: 2px 3px;
        margin-left: 10px;
        font-size: $font-size-base - 30%;
        letter-spacing: 1px;
      }

      &.schedule {
        &.main-item {

          .show-top {
            .col-show {
              width: 50%;
            }
          }
        }
        &.sub-item {
          .show-top {
            .col-show {
              width: 33.33333333333%;
            }
            .show-desc{
              width: 100%;
              word-break: break-all;
              word-wrap: break-word;
            }
          }
        }
      }

      .btn-go{
        display: table;
        margin-left: auto;
      }
    }
    /* End style show item*/
  }
  .mid-page {
    text-align: center;
    padding: 10px 0;
    .rs-btn {
      display: inline-block;
    }
    label {
      margin: 0;
      padding-left: 10px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

.show-detail-page{
  .bg-color-header {
    background-color: #cecebf;
  }
}
/**
 * Response for adapter to screen
 */
@media screen and (max-width: 640px) {
  .show-list-page {
    .notify-list {
    }
    .show-list {
      /* Start style show item*/
      .show-item {
        display: block;
        margin: 10px 0;
        background-color: $show-item-color-bg;
        clear: both;
        padding: 5px;
        .col-show {
          float: none;
          min-width: 100px;
          width: 100% !important;
          &.fl-right {
            float: none;
          }
        }
        .btn-go{
          width: 100%;
          margin-left: 0;
        }
        .show-button {
          width: 100%;
        }
        .show-desc {
          width: 100%;
        }
      }
      /* End style show item*/
    }
  }
}
