<template lang="html">
  <!-- Main Contents -->
  <div id="MainC">
    <!-- Main Contents -->
    <main id="ContentsPane">
      <div id="SingleContents">
        <div id="TicketContent">
          <!--Show detail-->

            <section id="Infor-detail">
              <div class="collapse show info--paddingX pt-2">
                <div class="d-md-flex justify-content-md-between info border-bottom">
                  <div class="d-flex ">
                    <div class="info__title--medium text-nowrap">
                      {{$t("booking_detail.lbl_main_title") +" : "}} {{ dataBookingDetail.show_group_main_title }}
                    </div>
                  </div>
                </div>
                <div class="d-md-flex justify-content-md-between info border-bottom">
                  <div class="d-flex ">
                    <div class="info__title--medium text-nowrap">
                        {{$t("booking_detail.lbl_sub_main_title") +" : "}} {{ dataBookingDetail.show_group_sub_title }}
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between info flex-md-row flex-column border-bottom">
                  <div class="info__title--medium">
                      {{$t("booking_detail.lbl_genre") +" : "}} {{ dataBookingDetail.genre_nm }}
                  </div>
                  <div class="info__title--medium">
                      {{$t("booking_detail.lbl_sub_genre") +" : "}} {{ dataBookingDetail.sub_genre_nm }}
                  </div>
                  <div class="info__title--medium d-md-block d-none">
                  </div>
                </div>
                <div class="d-flex justify-content-between info flex-md-row flex-column">
                  <div class="info__title--medium text-nowrap">
                      {{$t("booking_detail.lbl_datatime_show") +" : "}} {{ dataBookingDetail.show_date_disp_char }}
                  </div>
                  <div class="info__title--medium text-nowrap">
                      {{$t("booking_detail.lbl_hall") +" : "}} {{ dataBookingDetail.hall_nm }}
                  </div>
                  <div class="info__title--medium text-nowrap">
                      {{$t("booking_detail.lbl_time_show") +" : "}} {{ showStartTimeFormat(dataBookingDetail.show_start_time) }}
                  </div>
                </div>
              </div>
            </section>
            <section id="Infor-detail-image">
              <div class="collapse show info--paddingX pt-2">
                <div class="d-flex justify-content-between info">
                  <div class="rs-image no-image">
                    <img :src="imageMainUrl(dataBookingDetail.client_id,dataBookingDetail.show_group_id)" alt="">
                  </div>

                  <div class="flex-grow-1 ml-3" style="white-space: pre-line " v-html='dataBookingDetail.detail_explanation'>

                  </div>
                </div>
              </div>
            </section>
            <section id="Info-detail-note" v-if="dataBookingDetail.show_explanation">
              <div class="collapse show info--paddingX pt-2">
                <div class="d-md-flex justify-content-md-between info">
                  <div class="d-flex ">
                    <div class="info__title--medium" v-html='dataBookingDetail.show_explanation'>

                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="d-flex justify-content-center">
              <button class="rs-btn btn-green-dark btn-auto my-2 mx-0" @click="closeTabWindow()">
                {{ $t('booking_detail.btn_close') }}
              </button>
            </div>

          <!--Show detail End-->
        </div>
      </div>
    </main>
    <!-- Main Contents end -->
  </div>
  <!-- Main Contents end -->
</template>
<script src="@/business/booking_detail/BookingDetailBusiness.js">
</script>

<style lang="scss">
  @import "./assets/scss/booking_detail";
</style>