<template>
  <!-- HEADER -->
  <div id="HeadWrap">
    <header id="Header">
      <div class="head-top-row">
        <div :class="!isDetailBooking ? 'HeaderLeft' : 'HeaderCenter'">
          <section id="Headlogo">
            <nuxt-link @click.prevent.native="initHomePage" :to="{ name: routerNameListPerform }">
              <img src="@/assets/images/headlogo.png" width="267" height="46" alt=""/>
            </nuxt-link>
          </section>
        </div>
        <div class="HeaderRight" v-if="!isDetailBooking">
          <section id="Headsearch">
            <!-- 検索窓 -->
            <form action="" @submit.prevent="syncEventSearch" method="get">
              <input type="text" id="Headinput" :placeholder="$t('common.modal_search.lbl_key_placeholder')"
                     name="key_search" v-model="keySearch" maxlength="50" >
              <button id="sbtn" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <!-- /検索窓 -->
            <div id="soptxt">
              <div @click.prevent.native data-toggle="modal" data-target="#topHeaderSearch" class="btn-search-detail">
                {{ $t('common.links.search') }}
              </div>
            </div>
          </section>
          <div v-if="this.$store.state.auth.admin_flag" class="AdminMode">
            <label v-if="this.$store.state.auth.admin_flag">
              {{ $t('login.lb_mode_admin') }}
            </label>&nbsp;
            <button @click="logoutAdmin()"
              v-if="this.$store.state.auth.admin_flag"
              class="btn btn-danger btn-admin btn-admin-logout">
              {{ $t('login.lb_end_mode_admin') }}
            </button>
            <div class="mode-admin-time">
              {{this.$store.state.auth.admin_time.date}} &nbsp;
              {{this.$store.state.auth.admin_time.hour}}:
              {{this.$store.state.auth.admin_time.minute}}
            </div>
          </div>
        </div>
      </div>

      <div class="head-top-row head-bottom">
        <div class="HeaderLeft" v-if="!isDetailBooking">
          <label v-if="this.getName">
            {{ $tc('login.lb_display_name', this.getMember != '' ? 0 : 1, { name: this.getName, member: this.getMember }) }}
          </label>
        </div>
        <div class="HeaderRight" v-if="!isDetailBooking">
          <nav id="Headmenupre">
            <ul id="TmenuGR">
              <li class="tmenu">
                <nuxt-link class="i-menu" :to="{ name: routerNameGuide }"
                  :class="activeLink(routerNameGuide)">
                  {{ $t('common.links.guide') }}
                </nuxt-link>
              </li>
              <li class="tmenu">
                <nuxt-link class="i-menu" @click.prevent.native="initHomePage" :to="{ name: routerNameListPerform }"
                  :class="activeLink(routerNameListPerform)">
                  {{ $t('common.links.list_show') }}
                </nuxt-link>
              </li>
              <li class="tmenu">
                <nuxt-link class="i-menu" :to="{name: routerNameCart }"
                  v-if="this.$store.state.auth.authenticated"
                  :class="activeLink(routerNameCart)">
                  <i class="fas fa-shopping-cart"></i> {{ $t('common.links.cart') }}
                </nuxt-link>
              </li>
              <li class="tmenu">
                <nuxt-link class="i-menu" :class="activeLink(routerNameMyPage)"
                  v-if="this.$store.state.auth.authenticated"
                  :to="{ name: routerNameMyPage }">
                  <i class="fas fa-user-alt"></i>
                  {{ $t('common.links.my_page') }}
                </nuxt-link>
              </li>
              <li class="tmenu">
                <nuxt-link class="i-menu"
                  :class="activeLink(routerNameTerms)"
                  v-if="!this.$store.state.auth.authenticated"
                  :to="pathToTerms">
                  {{ $t('common.links.register') }}
                </nuxt-link>
              </li>
              <li class="tlogin">
                <nuxt-link class="i-menu" :class="activeLink(routerNameLogin)"
                  v-if="!this.$store.state.auth.authenticated"
                  :to="{ name: routerNameLogin }">
                  {{ $t('common.links.login') }}
                </nuxt-link>
              </li>
              <li class="tlogin" @click="logout()">
                <a href="javascript:void(0)" class="i-menu" v-if="this.$store.state.auth.authenticated">
                  <i class="fas fa-power-off"></i>
                  {{ $t('login.lb_logout') }}
                </a>
              </li>
              <li class="tmenu cv-mobile">
                <div class="i-menu" @click="showModalSearch">{{$t('common.links.search_mobile') }}
                </div>
              </li>
              <li class="tmenu">
                <nuxt-link class="i-menu" :to="{ name: routerNameFAQ }"
                  :class="activeLink(routerNameFAQ)">
                  {{$t('common.links.faq') }}
                </nuxt-link>
              </li>
              <li class="tmenu mode-admin" v-if="this.$store.state.auth.admin_flag">
                <nuxt-link class="i-menu" to="#" @click.prevent.native="logoutAdmin()">
                  {{ $t('login.lb_end_mode_admin') }}
                </nuxt-link>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <ModalSearchShow :searchInfo="searchInfo" :reset="reset" @update_reset="updateReset" :searching="searching"
      :keySearchM="keySearch" @update_keySearchM="keySearchChange"/>

    <!-- Show modal clear cart -->
      <div class="modal fade" id="clear-cart"
        tabindex="-1" role="dialog"
        aria-labelledby="title-stop"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="title-stop">{{ $t('common.lb_dialog_confirm') }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <label>{{ $t('login.lb_clear_cart.line_1') }}</label><br />
              <label>{{ $t('login.lb_clear_cart.line_2') }}</label>
            </div>
            <div class="modal-footer">
              <div class="block-action">
                <button type="button" class="rs-btn btn-small btn-secondary block-left" data-dismiss="modal" @click.prevent="clearCartAndLogout()">
                  {{ $t('common.btn_ok') }}
                </button>
                <button type="button" class="rs-btn btn-small btn-primary block-right" data-dismiss="modal">{{ $t('common.btn_no') }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End show modal clear cart -->
  </div>
  <!-- HEADER end -->
</template>

<script>
  import constant from '@/constant';
  import TheSideNavToggle from "@/components/Navigation/TheSideNavToggle";
  import ModalSearchShow from "@/components/Navigation/TheHeaderModalSearch";
  import {mapActions, mapGetters, mapState} from "vuex";
  import route from "@/constant/router";
  import { post } from '@/plugins/api';

  export default {
    name: "TheHeader",
    components: {
      TheSideNavToggle,
      ModalSearchShow
    },
    data() {
      return {
        keySearch: this.$route.query.key_search ? this.$route.query.key_search : null,
        reset: false,
        name: '',
        member: '',
        // Display login-logout - DucVN 2018-10-11
        isLogin: !!this.$store.state.auth.authenticated,
        pathToTerms: {
          name: constant.router.TERMS,
          params: {client_id: this.$route.params.client_id}
        },
        routerNameMyPage: constant.router.MY_PAGE,
        routerNameTerms: constant.router.TERMS,
        routerNameLogin: constant.router.LOGIN_NAME,
        routerNameListPerform: constant.router.LISTPERFORM,
        routerNameGuide: constant.router.GUIDE,
        routerNameFAQ: constant.router.FAQ,
        routerNameCart: constant.router.CART,
        isDetailBooking: false
      }
    },
    created() {
      let name = this.$route.name;
      this.isDetailBooking = this.$route.name === constant.router.BOOKING_DETAIL;
      this.$store.dispatch('show/initReloadSearch', this.$route);
    },
    // beforeMount: function () {
    //   // window.onbeforeunload = function () {
    //   //   localStorage.removeItem('tokenAdmin');
    //   // };
    // },
    computed: {
      ...mapGetters({
        getName: 'auth/getName',
        getMember: 'auth/getMember',
        searching: 'show/getSearching',
        searchInfo: 'show/getSearchInfo'
      }),
      ...mapState({
        booking: state => state.booking.cartDetail,
        cartId: state => state.booking.cartId,
        client: state => state.client.clientInfo
      })
    },
    methods: {
      ...mapActions('show', ['startSearch']),

      // Add condition to url and redirect to list show
      syncEventSearch() {
        let keySearch = this.keySearch ? this.keySearch.trim() : null;
        this.$store.dispatch('show/addFormSearch', {key_search: keySearch});
        this.$store.dispatch('show/updateClickBtnSearch', true);
        this.reset = true;
        this.$router.push({name: route.LISTPERFORM, query: {key_search: keySearch}});
      },
      showModalSearch(){
        $('#topHeaderSearch').modal('show');
      },
      keySearchChange(value) {
        this.keySearch = value;
      },
      updateReset(value) {
        this.reset = value;
      },

      initHomePage() {
        this.keySearch = null;
        this.reset = true;
        this.$store.dispatch('show/reloadHomePage');
        this.$emit('update_reset', false);
      },
      // Logout - DucVN - 2018-10-11
      logout() {
        // Check exists cart id and show popup confirm
        if (this.booking.length) {
          $('#clear-cart').modal('show');

          return;
        } else {
          // Remove all infomation
          this.$store.dispatch('member/unsetMember');
          this.$store.dispatch('member/unsetMemberShip');
          this.$store.dispatch('member/updateStepAccess', false);
          this.$store.dispatch('register/removeModel');
          this.$store.dispatch('register/updateStepOne', false);
          this.$store.dispatch('register/updateStepTwo', false);
          localStorage.removeItem('is_checked_both');

          this.$store.dispatch('auth/logout', {
            client_id: this.$route.params.client_id,
            member_id: this.$store.state.auth.user.member_id
          });
          // this.$store.dispatch('booking/clearBooking');
        }

        let path = this.$router.resolve({
          name: this.routerNameListPerform,
          params: { client_id: this.$route.params.client_id }
        });

        this.$router.push(path.href);
      },
      // LogoutAdmin - DucVN - 2018-10-29
      logoutAdmin() {
        this.$router.push({name: 'client_id'});
        this.$store.dispatch('auth/logoutAdmin', {
          client_id: this.$route.params.client_id,
          member_id: this.$store.state.auth.admin.account_id
        }).then(status => {
          let path = this.$router.resolve({
            name: constant.router.LOGIN_ADMIN_NAME,
            params: { client_id: this.$route.params.client_id }
          });

          this.$router.push(path.href);
        });
        // this.$store.dispatch('booking/clearBooking');
      },

      /**
       * Function set class when access match link url
       *
       * @param {String} routerName
       * @return {String}
       */
      activeLink: function (routerName) {
        let path = this.$router.resolve({
          name: routerName,
          params: {client_id: this.$route.params.client_id}
        });

        return path.href === this.$route.path ? 'active-link' : '';
      },

      /**
       * Function call api reset cart and logout
       *
       * @returns {void}
       */
      clearCartAndLogout: function () {
        // Call api reset cart
        post(constant.api.CART_RESET, { client_id: this.client.client_id, cart_id: this.cartId })
          .then(resonse => {
            // Remove all infomation
            this.$store.dispatch('member/unsetMember');
            this.$store.dispatch('register/removeModel');
            this.$store.dispatch('register/updateStepOne', false);
            this.$store.dispatch('register/updateStepTwo', false);
            localStorage.removeItem('is_checked_both');

            this.$store.dispatch('auth/logout', {
              client_id: this.$route.params.client_id,
              member_id: this.$store.state.auth.user.member_id
            });

            let path = this.$router.resolve({
              name: this.routerNameListPerform,
              params: { client_id: this.$route.params.client_id }
            });

            return path;
          }).then(path => {
            this.$router.push(path.href);
          }).catch(err => {
            this.$store.dispatch('auth/setError', [
              this.$t('message.msg003_exception.line_1'),
              this.$t('message.msg003_exception.line_2'),
              this.$t('message.msg003_exception.line_3')
            ]);

            // Redirect to page error 570 later
            let path = this.$router.resolve({
              name: constant.router.ERROR_NAME,
              params: { client_id: this.$route.params.client_id }
            });

            this.$router.push(path.href);
          });
      }
    },
    watch: {
      '$route'(to, from) {
        if (to.name != route.LISTPERFORM) {
          this.keySearch = '';
          this.$store.dispatch('show/changeStatusSearch', false);
        } else {
          if (this.searching) {
            this.keySearch = this.searchInfo.key_search ? this.searchInfo.key_search : null;
          }
        }
      }
    }
  };
</script>
