<template>
    <div class="modal fade" id="theLoginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <form @submit.prevent="searchModalShow">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" v-html="$t('booking.lb_require_login',{'link' : loginLink } )">

                    </div>
                    <div class="modal-footer">
                        <div class="block-action">
                            <button type="button"
                                    class="rs-btn btn-small btn-secondary block-left"
                                    data-dismiss="modal">
                                {{$t('common.btn_close')}}
                            </button>
                            <nuxt-link :to="{name: 'client_id-login' }"
                                       class="rs-btn btn-small btn-green-dark block-right" data-dismiss="modal"
                                       style="color: white; text-decoration: none;">{{$t('common.btn_login')}}
                            </nuxt-link>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>


export default {
  name: "TheLoginModal",

  data() {
    return {}
  },
  computed: {
    loginLink() {
      let link = '<a href="login">' + this.$t('common.links.login') + '</a>';
      return link;

    }
  },
  created() {

  },

}
</script>

<style scoped>

</style>
