<template>
  <div class="modal fade" id="theWarningModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <form @submit.prevent="searchModalShow">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{$t('common.lb_title_error')}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <pre>{{ message }}</pre>
        </div>
        <div class="modal-footer">
            <div class="block-action">
          <button type="button" class="rs-btn btn-small btn-green-dark block-right" data-dismiss="modal" @click="onCloseModal()">{{$t('common.btn_close')}}</button>
            </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</template>

<script>


  export default {
    name: "TheWarningModal",
    props: ['message', 'error'],
    data() {
      return {
      }
    },
    created() {

    },
    methods: {
      onCloseModal: function() {
        this.$emit('error', this.error);
      }
    }

  }
</script>

<style scoped>

</style>
