<template>
  <div class="show-item main-item schedule" >
    <!-- Begin Show Top Item -->
    <div class="show-top clearfix">
      <div class="row-show">
        <div class="col-show">
          <!-- Show main title of group show-->
          {{schedule.show_group_main_title}}
        </div>
        <div class="col-show">
          <!-- Show main title of group show-->
          {{schedule.genre_nm}}
        </div>
      </div>
      <div class="row-show">
        <div class="col-show">
          {{schedule.show_group_sub_title}}
        </div>
        <div class="col-show">
          {{schedule.sub_genre_nm}}
        </div>
      </div>
    </div>
    <!-- End Show Top -->
    <!-- Begin Show Body Item-->
    <div class="show-body clearfix">
      <div class="col-show">
        <div class="rs-image">
          <img class="img-load" @error="loadImage" @load="imageRetreive" :src="imageMainUrl(clientId, showGroupId)" alt="">
        </div>
      </div>
      <div class="col-show show-desc">
        {{schedule.detail_explanation}}
      </div>
    </div>
    <!-- End Show Body Item -->
  </div>
</template>

<script>
  import Config from "@/constant/config";
  export default {
    name: "ItemShowScheduleMain",
    props: [
      "clientId",
      "schedule",
      "showGroupId"
    ],
    methods: {
      /**
       * Remove image if image error
       * @return {Boolean}
       */
      loadImage() {
        $(this.$el).find('.rs-image').removeClass('no-image').addClass('no-image');
        $(this.$el).find('.img-load').remove();
        return false;
      },

      /**
       * Get url from S3
       * @param {string} client_id
       * @param {string} show_group_id
       * @return {string} Url of image
       */
      imageMainUrl: function (client_id, show_group_id) {
        return process.env.baseS3Url + Config.PATH_IMG_SHOW_MAIN_SCHEDULE.replace(':client_id', client_id).replace(':show_group_id', show_group_id)
      },

      /**
       * Handle image with width and height auto
       * @param {void}
       */
      imageRetreive(el) {
        this.$rsAutoScale(el);
      }
    }
  }
</script>
<style lang="scss" scoped>
  @import "assets/scss/show";
</style>
