<template>
  <!-- ## Begin Show Item -->
  <div class="show-item" v-if="show.show_group_disp_kb != 1" :id="'show_item_'+show.show_group_id">
    <!-- Begin Show Top Item -->
    <div class="show-top clearfix">
      <div class="col-show show-main-tt">
        <span class="ico-cart" v-if="checkShowInCart(show)"><i class="fas fa-shopping-cart"></i></span>
        {{ show.show_group_main_title }}
        <span class="slot-seat" v-if="show.seat_selection_flg == 1">{{$t('show.lbl_able_seat')}}</span>
      </div>
      <div class="col-show show-date">
        {{ show.show_term }}
      </div>
      <div class="col-show show-type">
        {{ show.genre_nm }}
      </div>
      <div class="col-show show-status">
        {{ show.show_group_sales_status }}
      </div>
    </div>
    <!-- End Show Top -->
    <!-- Begin Show Body Item-->
    <div class="show-body clearfix">
      <div class="col-show">
        <div class="rs-image">
          <img class="img-load" @error="loadImage" @load="imageRetrieve" :src="imageMainUrl(show.client_id, show.show_group_id)" alt="">
        </div>
      </div>
      <div class="col-show show-desc">
        {{ show.list_explanation }}
      </div>
      <div class="col-show fl-right">
        <div
          @click="clickButtonSelect({name: rRoute.SHOW_SCHEDULE_LIST, params: {client_id: clientId, show_group_id: show.show_group_id},
                    query: searching ? {searching: true}: null}, show)"
          class="rs-btn btn-green-dark btn-medium btn-go"
          v-if="show.select_button_disp_flg && show.select_button_disp_flg == constant.BUTTON_SELECT_SHOW">
          {{$t('show.btn_select')}}
        </div>
      </div>
    </div>
    <!-- End Show Body Item -->
  </div>
  <!-- ## End Show Item -->
  <!-- ## Begin Show Item -->
  <div class="show-item" v-else :id="'show_item_'+show.show_group_id">
    <!-- Begin Show Top Item -->
    <div class="show-top clearfix">
      <div class="col-show show-main-tt">
        {{ show.show_group_main_title }}
      </div>
      <div class="col-show show-hall">
        {{ show.hall_nm }}
      </div>
      <div class="col-show show-date">
        {{ show.show_term }}
      </div>
      <div class="col-show show-type">
        {{ show.genre_nm }}
      </div>
    </div>
    <!-- End Show Top -->
    <!-- Begin Show Body Item-->
    <div class="show-body clearfix">
      <div class="col-show">
        <div class="rs-image">
          <img class="img-load" @error="loadImage" @load="imageRetrieve" :src="imageMainUrl(show.client_id, show.show_group_id)" alt="">
        </div>
      </div>
      <div class="col-show show-desc">
        {{ show.list_explanation }}
      </div>
    </div>
    <!-- End Show Body Item -->
    <!-- Begin Show Accept Item -->
    <div class="show-accept clearfix" v-if="show.sales_list && show.sales_list.length > 0">
      <div class="show-accept-item clearfix" v-for="(show_sales, index_i) in show.sales_list" :key="index_i">
        <div class="row-show">
          <div class="col-show show-main-tt">
            <span v-if="checkShowInCart(show_sales)"><i class="fas fa-shopping-cart"></i></span> {{ show_sales.sales_nm
            }}
            <span class="slot-seat" v-if="show_sales.seat_selection_flg == 1">{{$t('show.lbl_able_seat')}}</span>
          </div>
          <div class="col-show show-date">
            {{ show_sales.sales_term }}
          </div>
          <div class="col-show show-status">
            {{ show_sales.show_sales_status }}
          </div>
        </div>
        <div class="row-show">
          <div class="col-show show-desc">
            {{ show_sales.sales_explanation }}
          </div>
          <div class="col-show show-button fl-right">
            <div
              @click="clickButtonSelect({name: rRoute.SELECT_TICKET_NAME, params: {client_id: clientId}, query: searching
                    ? {searching: true, show_group_id: show.show_group_id, show_no: show.show_no, sales_no:show.sales_no}
                    : {show_group_id: show.show_group_id, show_no: show.show_no, sales_no:show.sales_no}}, show)"

              class="rs-btn btn-green-dark btn-medium btn-go"
              v-if="show.select_button_disp_flg && show.select_button_disp_flg == constant.BUTTON_SELECT_SHOW
                    && show.hall_seat_view_flg == constant.NO_SELECT_SEAT">
              {{$t('show.btn_select')}}
            </div>
            <div
              @click="clickButtonSelect({name: rRoute.SELECT_SEAT_NAME, params: {client_id: clientId}, query: searching
                        ? {searching: true, show_group_id: show.show_group_id, show_no: show.show_no, sales_no:show.sales_no}
                        : {show_group_id: show.show_group_id, show_no: show.show_no, sales_no:show.sales_no}}, show)"
              class="rs-btn btn-green-dark btn-medium btn-go"
              v-if="show.select_button_disp_flg && show.select_button_disp_flg == constant.BUTTON_SELECT_SHOW
                    && show.hall_seat_view_flg == constant.WITH_SELECT_SEAT">
              {{$t('show.btn_select')}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Show Accept Item -->
  </div>
  <!-- ## End Show Item -->
</template>
<script src="@/business/show/ShowItemBusiness.js"></script>
<style lang="scss" scoped>
  @import "assets/scss/show";
</style>
