<template>
  <!-- ## Begin Show Item -->
  <div class="show-item sub-item schedule " :id="'show_item_' + schedule.show_no">
    <!-- Begin Show Top Item -->
    <div class="show-top clearfix">
      <div class="row-show">
        <div class="col-show">
          {{schedule.show_nm}}
        </div>
        <div class="col-show">
          {{schedule.show_date_disp_char}}
        </div>
        <div class="col-show">
          {{schedule.hall_nm}}
        </div>
      </div>
      <div class="row-show">
        <div class="col-show show-desc">
          {{schedule.show_explanation}}
        </div>
      </div>
    </div>
    <!-- End Show Top -->
    <!-- Begin Show Accept Item -->
    <div class="show-accept clearfix" v-if="schedule.sales_list && schedule.sales_list.length > 0">
      <div class="show-accept-item clearfix" v-for="(sales, index2) in schedule.sales_list" v-bind:key="index2"
           v-show="(!seeExpired && sales.hide_show_flg == constant.EXPIRED_HIDE)
       || (seeExpired && (sales.hide_show_flg == constant.EXPIRED_HIDE || sales.hide_show_flg == constant.EXPIRED_SHOW))">
        <div class="row-show">
          <div class="col-show show-main-tt">
            <span v-if="checkShowInCart(sales)"><i class="fas fa-shopping-cart"></i></span> {{sales.sales_nm}}
            <span class="slot-seat"
                  v-if="sales.seat_selection_flg && sales.seat_selection_flg == constant.SEAT_SELECTION">{{$t('show.lbl_able_seat')}}</span>
          </div>
          <div class="col-show show-date">
            {{sales.sales_term}}
          </div>
          <div class="col-show show-status">
            {{sales.show_sales_status}}
          </div>
        </div>
        <div class="row-show">
          <div class="col-show show-desc">
            {{sales.sales_explanation}}
          </div>
          <div class="col-show show-button">
            <!--Add searching when searching from list show-->
            <div
              @click="clickButtonSelect({name: rsRouter.SELECT_TICKET_NAME, params: {client_id: clientId},
                  query: {searching: searching, show_group_id: showGroupId, show_no: sales.show_no, sales_no: sales.sales_no}}, sales)"
              v-if="sales.select_button_disp_flg && sales.select_button_disp_flg == constant.BUTTON_SELECT_SHOW
                    && sales.hall_seat_view_flg == constant.NO_SELECT_SEAT && searching"
              class="rs-btn btn-green-dark btn-medium btn-go">{{$t('show.btn_select')}}
            </div>

            <div
              @click="clickButtonSelect({name: rsRouter.SELECT_TICKET_NAME, params: {client_id: clientId},
                  query: {show_group_id: showGroupId, show_no: sales.show_no, sales_no: sales.sales_no}}, sales)"
              v-else-if="sales.select_button_disp_flg && sales.select_button_disp_flg == constant.BUTTON_SELECT_SHOW
                    && sales.hall_seat_view_flg == constant.NO_SELECT_SEAT"
              class="rs-btn btn-green-dark btn-medium btn-go">{{$t('show.btn_select')}}
            </div>
            <!--Add searching when searching from list show-->
            <div
              @click="clickButtonSelect({name: rsRouter.SELECT_SEAT_NAME, params: {client_id: clientId},
                    query: {searching: searching, show_group_id: showGroupId, show_no: sales.show_no, sales_no: sales.sales_no}}, sales)"
              v-else-if="sales.select_button_disp_flg && sales.select_button_disp_flg == constant.BUTTON_SELECT_SHOW
                   && sales.hall_seat_view_flg == constant.WITH_SELECT_SEAT && searching"
              class="rs-btn btn-green-dark btn-medium btn-go">{{$t('show.btn_select')}}
            </div>
            <div
              @click="clickButtonSelect({name: rsRouter.SELECT_SEAT_NAME,
                    params: {client_id: clientId}, query: {show_group_id: showGroupId, show_no: sales.show_no, sales_no: sales.sales_no}}, sales)"
              v-else-if="sales.select_button_disp_flg && sales.select_button_disp_flg == constant.BUTTON_SELECT_SHOW
                   && sales.hall_seat_view_flg == constant.WITH_SELECT_SEAT"
              class="rs-btn btn-green-dark btn-medium btn-go">{{$t('show.btn_select')}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Show Accept Item -->
  </div>
  <!-- ## End Show Item -->
</template>
<script src="@/business/show/ShowScheduleItemBusiness.js"></script>
<style lang="scss" scoped>
  @import "assets/scss/show";
</style>
