<template>
  <div class="notify-item">
    <div class="notify-tt">{{notify.information_title}}</div>
    <div class="notify-ct">
      <span class="notify-dt">
        {{notify.apply_start_dtime}}
      </span>
      <span v-html="$escapeScript(notify.information_contents)"></span>
    </div>
  </div>
</template>

<script>
  export default {
    name: "NotifyListItem",
    props: ['notify']
  }
</script>

<style lang="scss" scoped>
  @import "assets/scss/show";
</style>

