@import "assets/scss/variables";
.button {
  font: inherit;
  background-color: black;
  color: white;
  padding: 5px;
  cursor: pointer;
  border: 1px solid black;
  &:hover, &:active{
    background-color: rgb(51, 51, 51);
    border: 1px solid black;
  }
}

.inverted {
  background-color: white;
  color: black;
  border: 1px solid transparent;

  &:hover, &:active{
    color: #ccc;
    background-color: white;
    border: 1px solid transparent;
  }
}

.cancel {
  background-color: red;
  color: white;
  border: 1px solid transparent;
  &:hover, &:active{
    background-color: salmon;
    border: 1px solid transparent;
    color: white;
  }
}

.input-control {
  margin: 10px 0;
  label {
    display: block;
    font-weight: bold;
  }
  input, textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid #ccc;
    padding: 5px;

    &:focus{
      background-color: #eee;
      outline: none;
    }
  }
}
