@import "../variables";
@import "../mixins/button";

/********************************************************************************/
/*** DEFINE HEADING TITLE STYLESHEET                                           **/
/********************************************************************************/

// PAGE TITLE HEADING 1
.rs-title-pg {
  background-color: $bg-color-h1;
  display: block;
  width: 100%;
  height: 60px;
  color: $color-white;
  font-weight: 500;
  margin: 0;
  //padding: 10px 0 0 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4) inset;
  span {
    margin-left: 30px;
    font-size: 1.5rem;

  }
}

// HEADING 2 TITLE MAIN
.rs-title-main {
  display: block;
  //height: 40px;
  background: $bg-color-h2;
  color: #333;
  font-size: 1.3rem;
  margin: 15px 0;
  padding: 6px 10px;
}

// HEADING 3 TITLE OF BLOCK TEXT
.rs-title-block {
  color: #333;
  padding: 6px 10px 0;
  border-bottom: 1px solid #ccc;
}

/********************************************************************************/
/*** DEFINE PAGINATION STYLESHEET                                              **/
/********************************************************************************/
.rs-pagination {
  overflow: hidden;
  ul {
    list-style: none;
    position: relative;
    left: 50%;
    float: left;
    li {
      margin: 0 1px;
      position: relative;
      left: -50%;
      float: left;
      &.current {
        font-weight: bold;
        color: #000;
      }
      a, span {
        display: block;
        font-size: 12px;
        padding: 0.6em 1em;
        border-radius: 3px;

      }
      a {
        background: #EEE;
        color: #000;
        text-decoration: none;
        &:hover {
          background: #174A52;
          color: #f1f1ed !important;
        }
      }
    }
  }
}

/********************************************************************************/
/*** DEFINE TABLE STYLESHEET                                                   **/
/********************************************************************************/
.rs-table {
  border: none;
  th, td {
    border: none;
  }
  thead {
    th {
      padding: $pad-th-tbl;
    }
  }
  tbody {
    td {
      padding: $pad-th-tbl;
      width: auto;
    }
  }
  &.table-dot {
    th {
      background-color: #cecebf;
    }
    td {
      border-bottom: 1px dotted #555;
    }
  }
  &.table-line {
    border-collapse: collapse;
    tr {
      th, td {
        padding: 10px;
        text-align: left;
      }
      > td:first-child {
        font-weight: bold;
      }
      border: 1px solid $color-black-dark;
    }
  }
}

.show-smart-phone {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 316px !important;
  .rs-table-smart-phone {
    tbody {
      tr {
        td {
          .head, .top {
            text-align: center;
          }

          .top {
            font-weight: 400;
          }
        }
      }
    }
  }
}

/********************************************************************************/
/*** DEFINE REMARK STYLESHEET                                                  **/
/********************************************************************************/
.rs-mark {
  padding: 5px;
  min-width: 100px;
  color: $color-white;
  font-size: $font-size-base;
  background-color: $color-anchor-main;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
    filter: alpha(opacity=0.8);
  }
  &.mark-silver {
    background-color: #666666;
  }
  &.mark-maroon {
    background-color: #663300;
  }
  &.mark-purple {
    background-color: #8C008C;
  }
  &.mark-green-l {
    background-color: #00B259;
  }
  &.mark-green-d {
    background-color: #006633;
  }
  &.mark-green-o {
    background-color: #468C00;
  }
  &.mark-red {
    background-color: #B20000;
  }
  &.mark-blue-l {
    background-color: #3600D9;
  }
  &.mark-blue-d {
    background-color: #00238C;
  }
  &.mark-blue-o {
    background-color: #00698C;
  }
  &.mark-orange {
    background-color: #FF8000;
  }
  &.mark-pink {
    background-color: #FF26FF;
  }
}

/********************************************************************************/
/*** DEFINE BUTTON STYLESHEET                                                  **/
/********************************************************************************/
.rs-btn {
  line-height: 35px;
  width: 92px;
  color: $color-white !important;
  text-decoration: none !important;
  display: block;
  font-size: 1.0em;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    filter: alpha(opacity=0.8);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  &.btn-green-dark {
    background-color: $color-green-dark;
  }
  &.btn-orange-dark {

  }
  &.btn-auto {
    width: auto;
    padding: 10px;
    line-height: 1;
  }
  &.btn-x-large {
    @include button-dimension($width-xl-btn, $height-xl-btn);
  }
  &.btn-large {
    @include button-dimension($width-l-btn, $height-l-btn);
  }
  &.btn-medium {
    @include button-dimension($width-m-btn, $height-m-btn);
  }
  &.btn-small {
    @include button-dimension($width-s-btn, $height-s-btn);
  }
  &.btn-x-small {
    @include button-dimension($width-xs-btn, $height-xs-btn);
  }
}

/********************************************************************************/
/*** DEFINE FORM STYLESHEET                                                    **/
/********************************************************************************/
.rs-form {
  .form-label {

  }
  .form-text {
    width: $width-form-control;
    height: $height-form-control;
    margin-bottom: 15px;
  }
  .form-radio {

  }
  .form-check {

  }
  .form-select {

  }
  .form-file {

  }
  .form-group {
    &.has-error {
      .form-label {
        color: $color-error;
      }
      .error {
        color: $color-error;
      }
    }
  }
}

.require {
  color: red;
}

.btn.disabled, .btn:disabled {
  opacity: 0.5 !important;
}

.rs-datepicker {
  $w-icon: 30px;
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid #888;
  border-radius: 5px;
  // overflow: hidden;

  .rs-input-datepicker {
    padding-right: $w-icon;
    text-align: left;
    border: none;
    box-shadow: none;
    border-radius: 5px !important;
  }
  .rs-ico-datepicker {
    position: absolute;
    right: 0;
    top: 0;
    width: $w-icon;
    height: 100%;
    text-align: center;
    background: $color-white;
    color: $color-green-dark;
    font-size: 90%;
    line-height: 40px;
    border-radius: 5px !important;
  }
}

@media only screen and (max-width: 768px) {
  .title-normal {
    display: none;
  }

  .rs-table-normal {
    display: none;
  }

  .show-smart-phone {
    display: block;
  }
}


@media only screen and (max-width: 384px) {
  .show-smart-phone {
    width: 100% !important;

    .rs-table-smart-phone {
      tbody {
        tr {
          width: 100% !important;
        }
      }
    }
  }
}
