//colors
$white: #fff;
$color_alto_approx: #ddd;
$color_mine_shaft_approx: #333;
$color_celeste_approx: #ccc;

#MainC {
  display: block;
  min-height: 750px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: $white;
  border-left: solid $color_alto_approx 1px;
  border-right: solid $color_alto_approx 1px;
  #ContentsPane {
    overflow: hidden;
  }
  a {
    text-decoration: underline;
  }
  h3 {
    color: $color_mine_shaft_approx;
    padding: 6px 10px 0;
    border-bottom: 1px solid $color_celeste_approx;
  }
  h4 {
    padding: 6px 10px 0;
  }
  p {
    padding: 6px 10px 0;
  }
}
#UpperContents {
  width: auto;
  margin: 30px 30px 50px;
}
#LowerContents {
  width: auto;
  margin: 30px;
}
#SingleContents {
  width: auto;
  margin: 30px 30px 0;
  padding-bottom: 30px;
}
.eventThum {
  float: left;
  margin: 0 10px 10px 0;
}
@media screen and(max-width: 768px) {
  #UpperContents {
    margin: 15px;
  }
  #LowerContents {
    margin: 15px;
  }
}
@media screen and(max-height: 700px) {
  #MainC {
    min-height: 400px;
  }
}
@media screen and(max-width: 480px) {
  #UpperContents {
    margin: 15px 5px 5px;
  }
  #LowerContents {
    margin: 15px 5px 5px;
  }
}
dl#Info {
  margin-left: 10px;
  dt {
    font-weight: bold;
  }
  dd {
    padding: 0;
    margin: 0 0 10px 0;
  }
}
p.goto {
  text-align: right;
}
