@import "../variables";
//colors
$color_storm_dust_approx: #666;
$color_celeste_approx: #ccc;
$color_pizazz_approx: darkorange;

#mainFooter {
  &.rs-fixed {
    min-height: $height-footer;
    .containerFooter {
      position: fixed;
      z-index: 100;
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }
  #Footer {
    li {
      display: inline-block;
      padding-left: 10px;
      padding-right: 5px;
      color: $color_celeste_approx;
      &.first {
        border-left: none;
      }
    }
    p {
      margin: 0;
      padding-top: 10px;
      color: $color_celeste_approx;
    }
  }
  #FooterMenu {
    padding: 0;
    margin: 0 auto;
    a {
      display: block;
      color: $color_celeste_approx;
      &:hover {
        color: $color_pizazz_approx;
      }
    }
  }
  div#Footer {
    max-width: 1200px;
    margin: 0 auto;
    min-height: $height-footer;
    padding: 15px 10px;
    background: $color_storm_dust_approx;
    text-align: center;
  }
}

@media screen and (max-width: 760px) {
  #Footer {
    #FooterMenu {
      margin: 0;
    }
    p {
      padding: 10px 0;
      margin-top: 10px;
      line-height: 1;
    }
  }
  #mainFooter {
    &.rs-fixed {
      min-height: $height-footer + 35px;
    }
  }
}
@media screen and (max-width: 480px) {
  #mainFooter {
    &.rs-fixed {
      min-height: $height-footer + 100px;
    }
  }
}

