/* フォーム要素 */

#RegForm {
  table {
    width: 100%;
    border: none;
    padding: 5px;
    margin: 0;
    .td-content, .td-head {
      width: 100%;
      border: none;
      padding: 5px;
      margin: 0;
    }
    .td-content {
      border-bottom: 1px solid #ccc;
      color: #333;
    }
    .td-head {
      border-bottom: 1px solid #ccc;
      color: #333;
      width: 20%;
      background: #dedede;
    }
  }
  input {
    width: 300px;
    height: 35px;
    border: 1px solid #888;
    font-size: 1.2em;
  }
}

.myTable input {
  width: 300px;
  height: 35px;
  border: 1px solid #888;
  font-size: 1.2em;
}

/* ラジオボタン調整 */

#RegForm input {
  &#gender1, &#gender2 {
    border: none;
    width: auto;
    height: auto;
    vertical-align: baseline;
  }
}

.myTable input {
  &#gender1, &#gender2 {
    border: none;
    width: auto;
    height: auto;
    vertical-align: baseline;
  }
}

/* 郵便番号長さ調整 */

#RegForm input#postal-code, .myTable input#postal-code {
  width: 100px;
  font-size: 1.2em;
}

/* 住所3と4長さ調整 */

#RegForm input {
  &#address-level3, &#address-level4 {
    width: 400px;
    font-size: 1.2em;
  }
}

.myTable input {
  &#address-level3, &#address-level4 {
    width: 400px;
    font-size: 1.2em;
  }
}

/* プルダウン文字サイズ調整 */

#RegForm select, .myTable select {
  font-size: 1.2em;
}

/* ボタンサイズ（色はcolor.css） */

#RegForm .submit input {
  display: inline-block;
  width: 176px;
  height: 46px;
  margin: 10px;
  font-size: 1.0em;
  border: none;
  cursor: pointer;
}

.submit {
  input {
    display: inline-block;
    width: 176px;
    height: 46px;
    margin: 10px;
    font-size: 1.0em;
    border: none;
    cursor: pointer;
  }
  button {
    display: inline-block;
    font-size: 1.0em;
    width: 176px;
    height: 46px;
    margin: 10px;
    border: none;
    cursor: pointer;
  }
  input:hover, button:hover {
    opacity: 0.7;
    filter: alpha(opacity = 70);
    -ms-filter: "alpha(opacity=70)";
  }
}

/* ボタンマウスオーバー */

/* 一般フォーム */

.Ltextinput {
  width: 500px;
  height: 35px;
  border: 1px solid #888;
}

.Stextinput {
  width: 200px;
  height: 35px;
  border: 1px solid #888;
}

.Mtextinput {
  width: 300px;
  height: 35px;
  border: 1px solid #888;
}

.ksearchList li {
  list-style: none;
  display: inline-block;
  text-align: justify;
}

#Ksearch .submit input {
  display: block;
  width: 176px;
  height: 46px;
  margin: 10px auto;
  font-size: 1.0em;
  border: none;
}

.change {
	color: #c00;
	font-weight: bold;
}

.rs-checkbox{
  input[type="checkbox"]{
    height: 20px;
    width: 20px;
    border: 1px solid #ddd;
    position: relative;
    background-color: transparent;
    z-index: 0;
    top: 3px;
    &::before{
      content: '';
      width: 100%;
      height: 100%;
      border: 2px solid #333;
      position: absolute;
      top: 0;
      left: 0;
      background: $color-anchor-main-hover;
      z-index: 1;
    }
    &::after{
      content: '';
      width: calc(100% - 5px);
      height: calc(100% + 3px);
      border: 2px solid #333;
      border-left: none;
      border-top: none;
      position: absolute;
      top: 50%;
      margin-top: -18px;
      display: none;
      left: 4px;
      z-index: 3;
      background: transparent;
      -webkit-transform: rotate(50deg);
      -moz-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
      -o-transform: rotate(50deg);
      transform: rotate(50deg);
    }
    &:checked{
      &::after{
        display: block;
      }
    }
    &+label{
      margin: 0;
      line-height: 1;
      margin-left: 5px;
    }
  }
}
.form-control{
  position: relative;
  padding-left: 20px;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 30px;
    background: #333;
    font: normal normal normal 14px/1 FontAwesome;
    z-index: 100000;
    display: block;
  }
  &:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 30px;
    background: #333;
    font: normal normal normal 14px/1 FontAwesome;
    z-index: 100000;
    display: block;
  }
}
