//colors
$red: #ff0000;
$white: #fff;

//@extend-elements
//original selectors
//a:hover img, #MainC a:hover
%extend_global {
  text-decoration: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
}


* {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  margin: auto;
}
a {
  text-decoration: none;
  &:hover img {
    @extend %extend_global;
  }
}
.red {
  color: $red;
}
.redbold {
  color: $red;
  font-weight: bold;
}
.page_top {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 50px;
  bottom: 30px;
  opacity: 0.6;
  z-index: 200;
  a {
    width: 60px;
    height: 60px;
    font-size: 60px;
    text-decoration: none;
    &:before {
      font-size: 60px;
    }
  }
}
.centerfix {
  text-align: center;
}
.rightfix {
  text-align: right;
}
.mid-page {
  text-align: center;
  padding: 10px 0;
  .rs-btn {
    display: inline-block;
  }
}
.marginBottomfix {
  margin-bottom: 25px;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#MainC a {
  &:hover {
    @extend %extend_global;
  }
  span.linkBtn {
    color: $white;
    text-align: center;
    width: auto;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
