@import "../variables";
//colors
$color_alto_approx: #ddd;
$color_star_dust_approx: #a0a0a0;
$white: #fff;
$color_gray_nurse_approx: #eaeaea;
$black_70: rgba(0,0,0,.7);
$color_tapa_approx: #777;
$color_pizazz_approx: darkorange;
$color_celeste_approx: #ccc;
$width-menu-trigger: 50px;
$width-input-search: 335px;
//@extend-elements
//original selectors
//.menu-trigger, .menu-trigger span
%extend_header {
  display: inline-block;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .4s;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}

#Header {
  display: block;
  //height: 100px;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}
#topHeaderSearch{
  .modal-body{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: $color-white;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
    &::after{
      content: '';
      height: 40px;
      width: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -20px;
      margin-top: -20px;
      border: 3px solid $color-green-dark;
      border-right-color: transparent;
      z-index: 2;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      -webkit-animation: rs-spinner linear infinite 1.5s;
      -o-animation: rs-spinner linear infinite 1.5s;
      animation: rs-spinner linear infinite 1.5s;
    }
    &::before, &::after{
      opacity: 0;
      filter: alpha(opacity=0);
      visibility: visible;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      z-index: -1;
    }
  }
  &.rs-loading{
    .modal-body{
      &::before, &::after{
        opacity: 1;
        filter: alpha(opacity=1);
        visibility: visible;
        -webkit-backface-visibility: visible;
        -moz-backface-visibility: visible;
        -ms-backface-visibility: visible;
        backface-visibility: visible;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        z-index: 1;
      }
    }
  }
  .top-list-genre{
    list-style: none;
    padding: 0;
    li{
      float: left;
      padding-right: 15px;
      padding-top: 5px;
      label{
        margin-left: 5px;
      }
    }
  }
}
.head-top-row{
  clear: both;
  padding: 5px 20px;
  position: relative;
  &::after{
    content: '';
    clear: both;
    display: table;
    height: 0;
    width: 0;
  }

  &.head-bottom{
    padding-bottom: 10px;
  }
}
div {
  &.HeaderLeft {
    display: block;
    position: relative;
    float: left;
    width: 365px;
  }
  &.HeaderRight {
    //display: inline-flex;
    //position: relative;
    float: right;
    width: calc(100% - 365px);
  }
  .AdminMode {
    float: right;
    padding: 10px 0;

    .btn-admin{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
#Headlogo {
  width: 350px;
  //height: 60px;
  float: left;
  margin: 10px 0 0 0;
  img{
    height: 46px;
  }
}
#Headsearch{
  padding: 10px 0;
  //clear: both;
  //display: table;
  float: left;
  form{
    //position: relative;
    float: left;
    input{
      height: 40px;
      padding: 0 10px;
      width: $width-input-search;
      border-radius: 0;
      border: solid 1px $color_alto_approx;
      outline: 0;
    }
    button{
      height: 40px;
      border:0;
      padding-left: 7px;
      padding-right: 7px;
      background-color: $bg-color-h2;
      &:hover{
        cursor: pointer;
      }
    }
  }
  #soptxt{
    display: inline-block;
    float: right;
    padding-top: 9px;
    margin-left: 10px;
    color: $color-green-dark;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}
#Headmenupre{
  #TmenuGR{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      float: left;
      padding-right: 10px;
      .i-menu{
        padding: 5px;
        &:hover{
          text-decoration: none;
          background-color: $color-green-dark;
          color: $color-white;
          cursor: pointer;
        }
      }
      &.mode-admin{
        display: none;
      }
    }
  }
  .cv-mobile{
    display: none;
  }
}

#Drawer {
  .menu-trigger {
    display: none;
    position: absolute;
    top: 20px;
    right: 30px;
  }
  header.action {
    nav {
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: translateY(600px);
    }
    .menu-trigger span {
      &:nth-of-type(1) {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(20px) rotate(-315deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(-20px) rotate(315deg);
      }
    }
  }
}
.menu-trigger {
  @extend %extend_header;
  position: relative;
  width: $width-menu-trigger;
  height: 44px;
  span {
    @extend %extend_header;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 4px;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 20px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}

#Header {
  .active-link {
    background-color: #174A52;
    color: #f1f1ed;
  }
}

@media screen and(max-width: 1090px) {
  #Header{
    .AdminMode{
      margin-right: $width-menu-trigger + 20px;
      margin-top: 0px;
      .btn-danger{
        display: none;
      }
    }
    #Headmenupre{
      #TmenuGR {
        position: absolute;
        top: 100%;
        right: 10px;
        width: auto;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        filter: alpha(opacity=0);
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        margin-top: 50px;
        z-index: -1;
        li {
          &.tmenu, &.tlogin {
            display: block;
            float: none;
            padding: 0;
            &:last-child{
              border: none;
            }
          }
          &.mode-admin{
            display: block;
          }
          .i-menu{
            min-width: 200px;
            display: block;
            white-space: nowrap;
            float: none;
            color: $color-white;
            font-size: $font-size-base-sm;
            padding: 10px 10px;
            line-height: 1;
            border-bottom: 1px solid $color-white;
          }
        }
        .cv-mobile{
          display: block;
        }
      }
    }
    &.action{
      #Headmenupre{
        #TmenuGR {
          visibility: visible;
          -webkit-backface-visibility: visible;
          -moz-backface-visibility: visible;
          -ms-backface-visibility: visible;
          backface-visibility: visible;
          opacity: 1;
          filter: alpha(opacity=1);
          margin-top: 0;
          z-index: 100;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s;
        }
      }
    }
    .head-top-row{
      padding: 10px 20px;
      &.head-bottom{
        padding: 0;
        padding-left: 20px;
        a{
          padding: 5px 0;
          display: block;
          line-height: 1;
        }
      }
    }

    .HeaderRight {
      width: auto;
    }

    #Headsearch {
      display: none;
    }
    #Headlogo{
      margin-top: 0;
    }
  }
  #Drawer{
    .menu-trigger {
      top: 10px;
      display: block;
    }
  }
}
@media screen and (max-width: 640px) {
  #Header {
    .HeaderRight{
      width: auto;
      float: none;
      display: block;
      clear: left;
      .AdminMode {
        margin-right: 0;
        padding-top: 10px;
        width: 100%;
        .btn-danger {
          display: none;
        }
        .btn-primary{
          float: left;
        }
        .mode-admin-time{
          margin-top: 10px;
          float: right;
        }
      }
    }
  }
}

@media screen and(max-width: 536px) {
  .menu-trigger{
    width: 30px;
  }
  #Headlogo{
    img{
      width: auto;
      height: 40px;
    }
  }
}

@media screen and(max-width: 480px) {
  #Headlogo{
    width: auto;
    img{
      //height: 30px;
    }
  }
  #Drawer{
    .menu-trigger{
      top: 8px;
      right: 20px;
    }
  }
  div.HeaderLeft, div.HeaderRight{
    float: none;
    width: auto;
  }
}
.fas fa-power-off {
  padding-right: 15px;
  fa-user-alt: 15px;
}
nav#mobile-nav {
  display: none;
  width: 25em;
  z-index: 2;
  background: $black_70;
  ul {
    font-size: 2em;
    line-height: 1;
    margin: 0 10px 10px 0;
    li {
      list-style: none;
      margin-left: 5px;
      padding: 10px 0;
      border-bottom: 1px solid $color_tapa_approx;
      text-align: left;
    }
  }
  li {
    color: $color_pizazz_approx;
    a {
      color: $color_celeste_approx;
      &:hover {
        color: $color_pizazz_approx;
      }
    }
  }
}

.block-action {
  width: 100%;

  .block-left {
    float: left;
  }

  .block-right {
    float: right;
  }
}
