@import "../variables";
.rs-image{
  min-height: 100px;
  min-width: 100px;
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
  height: 100px;
  width: 100px;
  border: 1px solid $color-silver-dark;
  background-color: $color-white-opaque-1;
  &.no-image{
    display: block;
    position: relative;
      &::before{
        content: "No Image";
        position: absolute;
        top: 50%;
        line-height: 1;
        left: 50%;
        font-size: 1em;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;
        opacity: 0.6;
        filter: alpha(opacity=0.6);
        font-weight: bold;
        z-index: 1;
      }
    img{
      position: relative;
      z-index: 1;
    }
  }
  img{
    width: 100%;
    height: 100%;
  }
  &.rs-h-auto{
    img{
      width: 100%;
      height: auto;
    }
  }
  &.rs-w-auto{
    img{
      width: auto;
      height: 100%;
    }
  }
}
