<template>
  <div id="MainC">
    <h1 class="rs-title-pg"><span id="Pagetitle">{{ $t('login.lb_complete_setting_password_head') }}</span></h1>
    <div class="container">
      <div class="block-explain">
        <span>{{ $t('message.msg027_complete_setting_password.line_1') }}</span><br />
        <span>{{ $t('message.msg027_complete_setting_password.line_2') }}</span>
      </div>
      <div class="center-align">
        <client-info :clientInfo="model"></client-info>
        <button type="button" class="w-150" @click="login()">{{ $t('login.btn_login_here') }}</button>
      </div>
    </div>
  </div>
</template>

<script src="@@/business/login/complete_setting_password/CompleteSettingPasswordBusiness.js"></script>

<style lang="scss" scoped>
  @import "assets/scss/login/complete_setting_password";
</style>
