<template>
  <div id="MainC">
    <main id="ContentsPane">
      <div class="login" v-if="!valid">
      </div>
      <div class="login" v-if="valid">
        <h1 class="rs-title-pg"><span id="Pagetitle">{{ $t('login.lb_setting_password_head') }}</span></h1>
        <div class="container container-block">
          <div class="block-explain">
            <span>{{ $t('message.msg026_complete_sendmail_reset_password.line_1') }}</span><br />
            <span>{{ $t('message.msg026_complete_sendmail_reset_password.line_2') }}</span><br />
            <span>{{ $t('message.msg026_complete_sendmail_reset_password.line_3') }}</span>
          </div>
          <div class="container">
            <div class="login-form">
              <div class="col-xl-12 block">
                <div class="col-xl-12 block-inner">
                  <div class="col-xl-4 max-width">
                    {{ $t('login.lb_new_password') }}
                  </div>
                    <div class="col-xl-8 input-center">
                      <input type="password"
                      v-validate="'required|min:8|max:16|passwordRegex'"
                      ref="password"
                      :data-vv-as="$t('login.lb_new_password')"
                      name="password"
                      v-model="password"
                      @paste.prevent>
                    </div>
                </div>
                <div class="col-xl-12 block-inner">
                  <div class="col-xl-4 max-width">
                    {{ $t('login.lb_confirm_new_password') }}
                  </div>
                  <div class="col-xl-8 input-center">
                    <input type="password"
                    name="password_confirm"
                    :data-vv-as="$t('login.lb_confirm_new_password')"
                    v-model="password_confirm"
                    v-validate="'required|confirmed:password'"
                    @keyup.enter="onSubmit()"
                    @paste.prevent>
                  </div>
                </div>
                  <div class= "error-messenger" colspan="2">{{ errors.first('password') }}</div>
                  <div class= "error-messenger" colspan="2">{{ errors.first('password_confirm') }}</div>
                  <div class="error-messenger" colspan="2" v-if="error">{{ $t('login.lb_setting_password_error') }}</div>
                <div class="col-xl-12 block-inner">
                  <div class="col-xl-12 input-center">
                    <button type="button" @click="onSubmit()">{{ $t('login.btn_setting_password') }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script src="@@/business/login/setting_password/SettingPasswordBusiness.js"></script>
<style lang="scss">
  @import "assets/scss/login/setting_password";
</style>
