<template lang="html">
  <div id="MainC" class="register-step-4">
    <main id="ContentsPane">
      <h1 class="rs-title-pg"><span id="Pagetitle">{{ $t('register.lb_title_complete') }}</span></h1>

      <div class="container" v-if="flagClickButtonActive">
        <div class="col-md-12">
          <div class="block">
            <label>{{ $t('message.msg022_complete_register.line_1') }}</label>
            <label>{{ $t('message.msg022_complete_register.line_2') }}</label>
          </div>
        </div>
      </div>
      <div class="container" v-else>
        <div class="col-md-12">
          <div class="block">
            <label>{{ $t('register.lb_exlain_complete_register') }}</label>
          </div>
        </div>
      </div>

      <div class="container" v-if="flagClickButtonActive">
        <div class="col-md-8 offset-md-2">
          <ClientInfo :clientInfo="model"/>
        </div>

        <div class="col-md-4 offset-md-4">
          <nuxt-link class="rs-btn btn-large btn-green-dark btn-center" :to="linkToLoginPage">
            {{ $t('register.btn_go_to_login_page') }}
          </nuxt-link>
        </div>
      </div>
      <div class="container" v-else>
        <div class="col-md-4 offset-md-4">
          <button class="rs-btn btn-large btn-green-dark btn-center" @click.prevent="activeAccount()">
            {{ $t('register.btn_register_complete') }}
          </button>
        </div>
      </div>
    </main>
  </div>
</template>

<script src="@@/business/register/ActiveAccountBusiness.js"></script>

<style lang="scss" scoped>
  @import "assets/scss/complete_register";
</style>
