<template>
  <div>
    <nuxt/>
  </div>
</template>

<script>
import TheHeader from '@/components/Navigation/TheHeader';
import TheFooter from '@/components/Navigation/TheFooter';
import TheSidenav from '@/components/Navigation/TheSidenav';
import { mapActions, mapState } from 'vuex';
import constant from '@/constant';

export default {

  components: {
    TheHeader,
      TheFooter,
    TheSidenav
  },
  data() {
    return {
      displaySidenav: false
    }
  },
  mounted() {
    /**
     * Sync state for multi tab or window
     */
    window.onfocus = () => {
      let vuex = JSON.parse(localStorage.getItem('vuex'));
      this.$store.dispatch('auth/sync', vuex.auth);
      this.$store.dispatch('booking/sync', vuex.booking);
      this.$store.dispatch('register/sync', vuex.register);
      this.$store.dispatch('member/sync', vuex.member);
      this.syncAuthAction();
    };
  },
  computed: {
    ...mapState({
      auth: state => state.auth
    })
  },
  methods: {
    /**
     * Function redirect when sync state
     *
     * @returns {void}
     */
    syncAuthAction() {
      let middlewareName = this.$route.matched[0].components.default.extendOptions.middleware;
      let status = false;
      let name = '';

      if (this.auth.authenticated) {
        if ((!Array.isArray(middlewareName) && middlewareName == 'redirect_if_authenticated')
          || (Array.isArray(middlewareName) && middlewareName.indexOf('redirect_if_authenticated') != -1)
        ) {
          name = constant.router.LISTPERFORM;
          status = true;
        }
      } else if (!this.auth.authenticated) {
        if ((!Array.isArray(middlewareName) && middlewareName == 'authenticated')
          || (Array.isArray(middlewareName) && middlewareName.indexOf('authenticated') != -1)
        ) {
          name = constant.router.LOGIN_NAME;
          status = true;
        }
      } else if (this.auth.admin_flag) {
        if ((!Array.isArray(middlewareName) && middlewareName == 'redirect_if_is_admin')
          || (Array.isArray(middlewareName) && middlewareName.indexOf('redirect_if_is_admin') != -1)
        ) {
          name = constant.router.LISTPERFORM;
          status = true;
        }
      }

      if (status) {
        let path = this.$router.resolve({
          name: name,
          params: { client_id: this.$route.params.client_id }
        });

        this.$router.push(path.href);
      }
    }
  }
}
$(function() {
  $('.menu-trigger').click(function(){
    $('header').toggleClass('action');
  });
});

$(document).ready(function() {
  var pagetop = $('.page_top');
  $(window).scroll(function () {
    if ($(this).scrollTop() > 100) {
      pagetop.fadeIn();
    } else {
      pagetop.fadeOut();
    }
  });
  pagetop.click(function () {
    $('body, html').animate({ scrollTop: 0 }, 500);
    return false;
  });
});

</script>




