<template lang="html">
  <div id="MainC" class="membership-register-1">
    <main id="ContentsPane">
      <!-- Show explain -->
      <h1 class="rs-title-pg">
        <span id="Pagetitle">
          {{
            this.membership.action == isNewRegister
              ? $t('member.title_register_membership')
              : $t('member.title_update_membership')
          }}
        </span>
      </h1>
      <div class="container">
        <div class="block">
          {{ $t('message.msg087_explain_register_member.line_1') }}
          <br/>
          {{ $t('message.msg087_explain_register_member.line_2') }}
        </div>
      </div>
      <!-- End show explain -->

      <!-- Show message errors -->
      <div class="container" v-if="validation">
        <div class="error">
          <div class="alert alert-danger text-center">
            <label v-if="flg.membership_type">{{ $t('validation.required', { field: $t('member.lb_membership_type') }) }}</label>
            <label v-if="flg.unit">{{ $t('validation.required', { field: $t('member.lb_number_of_customer') }) }}</label>
            <label v-if="flg.unit_format">{{ $t('validation.numeric', { field: $t('member.lb_number_of_customer') }) }}</label>
            <label v-if="flg.min_value">
              {{ $t('validation.min_value', { field: $t('member.lb_number_of_customer'), attribute: 1 }) }}
            </label>
            <label v-if="flg.max_value">
              {{ $t('validation.max_value', { field: $t('member.lb_number_of_customer'), attribute: unit }) }}
            </label>
            <label v-if="flg.checkbox">{{ $t('validation.required', { field: $t('member.lb_provision_check') }) }}</label>
            <label v-if="flg.trans_kb">{{ $t('validation.required', { field: $t('member.lb_trans_kb') }) }}</label>
            <label v-if="flg.convini">
              {{ $t('validation.max_value', { field: $t('member.lb_convini_fee'), attribute: $t('member.limit_convini_fee') }) }}
            </label>
            <label v-if="flg.condition_kb">{{ $t('message.msg045_update_period') }}</label>
          </div>
        </div>
      </div>
      <!-- End show message errors -->

      <!-- Information member association -->
      <div class="container">
        <div id="accordion">
          <div class="card" v-for="(item, index) in membership_group">
            <div class="card-header">
              <h5 class="mb-0">
                <input
                  v-if="membership_group.length != 1"
                  v-model="member_kb_type_nm"
                  :value="index"
                  :disabled="item.condition_kb"
                  type="radio" :class="'member_kb_no active' + (member_kb_type_nm == index ? ' collapsed' : '')" name="member_kb_no"
                  data-toggle="collapse" :data-target="'#heading' + index" aria-expanded="true"
                  aria-controls="collapseOne">
                <label>
                  <p>{{ item.member_kb_type_nm }}</p>
                  <div class="responsive">
                    <p>
                    <span v-if="!flg.update">{{ '（' + $t('member.lb_member_enter_fee') + '：' + item.member_enter_fee_char }}</span>
                    <span>
                      {{ (flg.update ? '（' : '') + $t('member.lb_membership_fee') + '：' + item.membership_fee_char + '）' }}
                    </span>
                    </p>
                    <p v-if="item.limit_kb != 1">{{ item.limit_end_date_char }}</p>
                    <p class="ml-3" v-if="item.condition_kb">{{ $t('message.msg045_update_period') }}</p>
                  </div>
                </label>
              </h5>
            </div>

            <div :id="'heading' + index"
              :class="flg.update || membership_group.length == 1 || (member_kb_type_nm == index) ? 'collapse show':'collapse'"
              aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div class="title" v-if="item.unit > 1">
                  <input type="text" size="5" class="unit" v-model="model.unit" :data-value="item.unit">
                  <label>{{ item.unit_text }}</label>
                </div>
                <div class="cart" v-if="!item.flg_no_pay">
                  <div v-if="item.flg_cash">
                    <input type="radio" class="float-left" v-if="item.flg_cash_radio" :value="define.cash" v-model="model.trans_kb"
                      :checked="member_kb_type_nm == index && model.trans_kb == define.cash">
                    {{ item.cash_settle_nm }}
                    <div class="cart-cash" v-if="item.cash_trans_kb == 1" v-html="$escapeScript(item.cash_comments)">
                    </div>
                  </div>
                  <div v-if="item.flg_credit">
                    <input type="radio" class="float-left" v-if="item.flg_credit_radio" :value="define.credit" v-model="model.trans_kb"
                      :checked="member_kb_type_nm == index && model.trans_kb == define.credit">
                    {{ item.creditcard_settle_nm }}
                    <div class="cart-credit" v-if="item.creditcard_trans_kb == 1" v-html="$escapeScript(item.creditcard_comments)">
                    </div>
                  </div>
                  <div v-if="item.flg_convini">
                    <input type="radio" class="float-left" v-if="item.flg_convini_radio" :value="define.convini" v-model="model.trans_kb"
                      :checked="member_kb_type_nm == index && model.trans_kb == define.convini">
                    {{ item.convini_settle_nm }}
                    <label v-if="item.convini_fee > 0">{{ $t('member.lb_fee.open') + item.convini_fee + $t('member.lb_fee.close') }}</label>
                    <div class="cart-convini" v-if="item.convini_trans_kb == 1" v-html="$escapeScript(item.convini_comments)">
                    </div>
                  </div>
                  <div v-if="item.flg_bank">
                    <input type="radio" class="float-left" v-if="item.flg_bank_radio" :value="define.bank" v-model="model.trans_kb"
                      :checked="member_kb_type_nm == index && model.trans_kb == define.bank">
                    {{ item.bank_settle_nm }}
                    <div class="cart-bank" v-if="item.bank_trans_kb == 1" v-html="$escapeScript(item.bank_comments)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Information member association -->

      <!-- Rule -->
      <div class="container">
        <p>
          {{ $t('member.provision_text_not_link') }}
          <a target="_blank" :href="membership_terms_url">{{ $t('member.provision_text_link') }}</a>
        </p>
        <p class="rules">
          <input type="checkbox" name="rules" v-model="provision_check"> <label>{{ $t('member.provision_checkbox_text') }}</label>
        </p>
      </div>
      <!-- End rule -->

      <!-- Button action -->
      <div class="container">
        <div class="block-action">
          <button class="btn rs-btn btn-large btn-green-dark block-left" @click.prevent="goToMyPage()">
            {{ $t('common.btn_back') }}
          </button>
          <button class="btn rs-btn btn-large btn-green-dark block-right" @click.prevent="goToNextPage()" :disabled="!isCheck">
            {{ $t('common.btn_next') }}
          </button>
        </div>
      </div>
      <!-- End button action -->
    </main>
  </div>
</template>

<script src="@@/business/membership/RegisterMembershipBusiness.js">
</script>

<style lang="scss" scoped>
  @import "assets/scss/member";
</style>
