/* MYPAGE */

.my-page, #MainC {
  min-height: 100%;
  height: 100;
  min-height: 700px;

  #ContentsPane {
    height: 100;

    h1 {
      margin-bottom: 0;
    }

    .container {
      .alert {
        margin-top: 20px;
      }

      .block-border {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid #cecebf;

        label {
          margin-top: 10px;
          margin-right: 20px;
        }

        table {
          margin-top: 20px;

          tbody {
            tr {
              td {
                word-break: break-all;
              }

              .td-15 {
                width: 15%;
              }

              .td-11 {
                width: 11%;
              }

              .td-14 {
                width: 14%;
              }

              .td-32 {
                width: 32%;
              }

              .td-28 {
                width: 28%;
              }
            }
          }
        }

        .table-normal {
          display: block;
        }

        .table-smart-phone {
          display: none;
        }
      }

      .block-inline-center {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        .rs-btn.btn-large {
          min-height: 46px;
          height: auto;
          white-space: normal;
          line-height: 46px;
        }
      }
    }
  }

  .modal {
    .modal-dialog {
      .modal-footer {
        .block-action {
          display: flex;
        }
      }
    }
  }
}

.container {
  .login-head {
    font-size: 1.5rem;
    text-align: left;
    background-color: #686859;
    border-color: white;
    box-shadow: none;
    padding: 16px 0px 0px 30px;
    margin-bottom: 15px;
    color: white;
    height: 60px;
    font-weight: 500
  }

  h3 {
    text-align: center;
    font-style: normal;
    font-weight:normal;
    font-size: 1.5em;
    padding: 0px 20% 0px 20%;
    margin:  0px 0px 0px 0px;
  }

  .center-align {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;

    a {
      color: blue;
    }

    a:hover {
      color: red !important;
    }

    a:visited {
      color: blue;
    }

    button {
      color: #f1f1ed;
      display: block;
      width: 176px;
      height: 46px;
      margin: 10px auto;
      font-size: 1.0em;
      border: none;
      background: #174A52;
    }

    button:hover {
      display: block;
      width: 176px;
      height: 46px;
      margin: 10px auto;
      font-size: 1.0em;
      border: none;
      background: green;
      cursor: pointer;
    }

    hr {
      border-top: 3px double #8c8b8b;
    }
  }
}

@media only screen and (max-width: 768px) {
  .my-page {
    #ContentsPane {
      .container {
        .block-inline-center {
          flex-direction: column;

          a, button {
            width: 100%;
            margin-bottom: 10px;
          }
        }

        .block-border {
          .table-normal {
            display: none !important;
          }

          .table-smart-phone {
            display: block !important;

            tr {
              .ml-3 {
                label {
                  margin-right: 0px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
