<template>
    <!-- Main Contents -->
    <div id="MainC">
        <!-- Main Contents -->
        <main id="ContentsPane">
            <h1 class="rs-title-pg"><span id="Pagetitle">{{$t('booking.header')}}</span></h1>

            <div id="LowerContents" class="booking">
                <div class="d-flex flex-md-row flex-column justify-content-between w-100">
                    <div class="w-md-50 w-100">
                        <div id="InfoContents">
                            <!--Notice-->
                            <Warning :seats="dataSeatType.seats" :dataTicket="dataTicket"></Warning>
                            <!--Notice End-->

                            <!--Info Ticket-->
                            <TicketInfo :seat-type="true" :dataTicket="dataTicket" ></TicketInfo>
                            <!--Info Ticket End-->
                        </div>

                        <div id="TicketContent">
                            <!--Ticket Type-->
                            <TicketContentSeat :seats="dataSeatType.seats" :sales_kb="dataSeatMap.length>0 ?dataSeatMap[0].sales_kb : 1 "></TicketContentSeat>
                            <!--Ticket Type End-->
                        </div>
                    </div>
                    <div class="ml-md-3 d-flex w-md-50 w-100 flex-column">
                        <TicketBookingSeat v-if="dataSeatMap.length >0"
                                           :seats="dataSeatType.seats"

                                           :seatMap="dataSeatMap"
                                           @validate="validated">

                        </TicketBookingSeat>
                        <div  class="w-100" v-else></div>

                        <input type="hidden" id="booking-before" >
                    </div>
                </div>

                <div id="Total">
                    <!--Total Ticket-->
                    <TicketSummary></TicketSummary>
                    <!--Total Ticket End-->

                </div>
                <!--Notice-->
                <section id="Notice2" v-if="isLogin && haveMemberDiscount">
                    <p class="text-center">{{$t("booking.lb_warning_common_3")}}</p>

                </section>
                <!--Notice End-->
                <div id="Pagination">
                    <div class="d-flex justify-content-between">
                        <button class="rs-btn btn-green-dark mx-0" @click="onBackBtn">
                            {{ $t("booking.btn_back")}}
                        </button>
                        <button class="rs-btn btn-green-dark mx-0" @click="onNextBtn">
                            {{ $t("booking.btn_next")}}
                        </button>
                    </div>
                </div>
            </div>
            <!--Modal require login-->
            <LoginModal/>
            <!--Modal require validate-->
            <WarningModal :message="message"/>
        </main>
        <!-- Main Contents end -->
    </div>
    <!-- Main Contents end -->
</template>
<script src="@/business/booking/BookingSeatBusiness.js"></script>
<style lang="scss">
    @import "./assets/scss/booking";
</style>




