/* KIYAKU */

.container {
  clear: both;
  max-width: 1200px !important;
  height: 600px;
  padding: 0px 0px 0px 0px;
  background-color: white;

  .login-head {
    font-size: 1.5rem;
    text-align: left;
    background-color: #686859;
    border-color: white;
    box-shadow: none;
    padding: 16px 0px 0px 30px;
    margin-bottom: 15px;
    color: white;
    height: 60px;
    font-weight: 500
  }

  .content {
    padding: 10px 30px 3px 30px;
  }
}


@media only screen and (max-width: 800px) {

  .container {

    .login-head {
      font-size: 1.5rem;
      text-align: left;
      background-color: #686859;
      border-color: white;
      box-shadow: none;
      padding: 16px 0px 0px 30px;
      margin-bottom: 15px;
      color: white;
      height: 60px;
      font-weight: 500
    }
  }
}

