<template>
  <div id="MainC">
    <main id="ContentsPane">
      <h1 class="rs-title-pg"><span id="Pagetitle"> {{ $t('login.lb_complete_send_password_head') }}</span></h1>
      <div class="container">
        <div class="block">
          <span>{{ $t('message.msg025_explain_setting_password.line_1') }}</span><br/>
          <span>{{ $t('message.msg025_explain_setting_password.line_2') }}</span><br/>
          <span>{{ $t('message.msg025_explain_setting_password.line_3') }}</span>
        </div>
      </div>
      <div class="center-align">
        <client-info :clientInfo="model"></client-info>
        <button type="button" @click="list()">{{ $t('login.btn_listbutton') }}</button>
      </div>
    </main>
  </div>
</template>

<script src="@@/business/login/complete_send_email_reset_password/CompleteSendEmailBusiness.js"></script>

<style lang="scss" scoped>
  @import "assets/scss/login/complete_send_email";
</style>
