<template>
  <div id="MainC">
    <!-- Main Contents -->
    <main id="ContentsPane">
      <h1 class="rs-title-pg"><span id="Pagetitle">{{$t("cart.lb_cart_confirm")}}</span></h1>

      <div id="UpperContents" class="mb-3">
        <Breadcrumb :step="step"></Breadcrumb>
      </div>

      <div id="LowerContents">
        <!-- お知らせトップ -->
        <section id="InfoList">
          <p class="test-justify" v-if="getPaymentMethod == 102">{{$t("message.msg089_credit_notice_cart_confirm")}}</p>
          <p class="test-justify" v-else="getPaymentMethod != 102">{{$t("message.msg088_notice_cart_confirm")}}</p>
        </section>
        <!-- お知らせトップ end -->
        <ShowDetailConfirm v-for="tickets in cartDetailGroup" :key="tickets.seat_no" :tickets="tickets" :type="type"></ShowDetailConfirm>

        <TotalPayment ></TotalPayment>

        <ListFee v-if="hasFees" :fees="displayFees"></ListFee>

        <TotalPaymentAmount :totalPayment="calTotalPayment"></TotalPaymentAmount>

        <PaymentType :typeName="concatPaymentMethod"></PaymentType>

        <InfoReceive v-if="getReceiveMethod == 202" :deliveryInfo="delivery"></InfoReceive>

        <section class="mt-3">
          <div class="d-flex justify-content-between">
            <button class="rs-btn btn-green-dark mx-0" @click="onClickBackButton()">
              {{$t("cart.btn_back")}}
            </button>
            <button class="rs-btn btn-green-dark mx-0" @click="onClickConfirmButton()">
              {{$t("cart.btn_confirm")}}
            </button>
          </div>
        </section>
      </div>

      <WarningModal :message="message" :error="code" v-on:error="redirectPage"/>
      <QueueModal :totalBeforeInQueue="totalBeforeInQueue" />
    </main>
    <!-- Main Contents end -->
  </div>
</template>

<script src="@/business/cart/CartConfirmBusiness.js"></script>
<style lang="scss" scoped>
  @import "./assets/scss/cart"
</style>

