<template>
  <div id="MainC">
    <!-- Main Contents -->
    <main id="ContentsPane" v-show="showPage">
      <h1 class="rs-title-pg"><span id="PageTitle"> {{$t("cart.lb_cart")}}</span></h1>

      <div id="UpperContents" class="mb-3">
        <Breadcrumb :step="step"></Breadcrumb>
      </div>

      <div id="LowerContents" >
        <!-- お知らせトップ -->
        <CartWarning/>
        <!-- お知らせトップ end -->

        <ShowDetail v-for="tickets in cartDetailGroup" :key="tickets.seat_no"
                    :tickets="tickets"
                    :cartDetailGroup="cartDetailGroup"
                    :numberTicket="numberTicket"
                    v-on:warningModal="onWarningModal"
                    v-on:deleteModal="onDeleteModal" >


        </ShowDetail>
          <!--Modal require validate-->
          <WarningModal :message="message" />
          <ResetCartModal :message="message" @confirmResetModal="onComfirmResetCart" />
          <DeleteSeatModal :message="message" :seat="seat" @confirmDeleteModal="onConfirmDelete"/>
        <TotalPayment></TotalPayment>

        <section class="mt-3">
          <div class="d-flex justify-content-between flex-column flex-md-row">
            <button class="rs-btn btn-green-dark btn-auto min-w-btn mx-0 mb-2" @click="onContinueBooking">
              {{$t("cart.btn_cont_booking")}}
            </button>
            <button class="rs-btn btn-green-dark btn-auto min-w-btn mx-0 mb-2" @click="onResetCartModal">
              {{$t("cart.btn_reset_cart")}}
            </button>
            <button class="rs-btn btn-green-dark btn-auto  min-w-btn mx-0 mb-2" @click="onGoPayment">
              {{$t("cart.btn_go_payment")}}
            </button>
          </div>
        </section>
      </div>
    </main>
    <!-- Main Contents end -->
  </div>
</template>

<script src="@/business/cart/CartBusiness.js"></script>
<style lang="scss" scoped>
  @import "./assets/scss/cart"
</style>

