<template>
  <div id="MainC" class="payment-card">
    <main id="ContentsPane">
      <h1 class="rs-title-pg"><span id="Pagetitle">{{ $t('card_payment.title') }}</span></h1>
      <div id="LowerContents">
        <div class="card-block">
          <div class="top-note" v-if="payment.settleInfo">
            {{payment.settleInfo}}
          </div>
          <div class="form-card">
            <div class="form-group row">
              <label for="cardId" class="col-sm-3 col-form-label">{{$t('card_payment.card.card_id')}}<span
                class="badge badge-danger">{{$t('common.require')}}</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="cardId" name="cardId" v-model="card.cardId" pattern="[0-9]{1,16}" maxlength="16"
                       v-validate="'required|numeric|min:10|max:16'" :data-vv-as="$t('card_payment.card.card_id')">
                <div class="exp-field">{{$t('card_payment.card.card_id_exp')}}</div>
                <div class="v-error" v-if="errors.has('cardId')">{{errors.first('cardId')}}</div>
              </div>
            </div>
            <!--Expired of card-->
            <div class="form-group row">
              <label for="expired" class="col-sm-3 col-form-label">{{$t('card_payment.card.expired')}}<span
                class="badge badge-danger">{{$t('common.require')}}</span></label>
              <div class="col-sm-9 row">
                <div class="col col-12">
                  <div class="group-expired">
                      <select class="form-control expired-date" id="expired" v-model="card.expiredMonth">
                        <option v-for="n in monthList" :key="n" :value="n!='-' ? (n && n < 10 ? '0'+n : n) : ''">{{n && n < 10 ? '0'+n : n}}</option>
                      </select>
                      <span class="lbl-expired-date">{{$t('common.lbl_month')}}</span>
                      <div class="col col-1 text-center lbl-separate">/</div>
                      <select class="form-control expired-date" v-model="card.expiredYear">
                        <option v-for="n in yearList" :key="n" :value="n!='-' ? n : ''">{{n}}</option>
                      </select>
                      <span class="lbl-expired-date">{{$t('common.lbl_year')}}</span>
                    <input type="hidden" v-model="card.expired" maxlength="4" name="expired" pattern="^(?=[0-9]*$)(?:.{4}|.{6})$"
                           v-validate="{required:true,cardExpired:card.expired,regex:/^(?=[0-9]*$)(?:.{4}|.{6})$/}" :data-vv-as="$t('card_payment.card.expired')">
                    <div class="v-error" v-if="errors.has('expired')">{{errors.first('expired')}}</div>
                  </div>
                </div>
              </div>
            </div>
            <!--End expired of card-->
            <!--Owner Name of card-->
            <div class="form-group row">
              <label for="ownerName" class="col-sm-3 col-form-label">{{$t('card_payment.card.owner_name')}}<span
                class="badge badge-danger">{{$t('common.require')}}</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="ownerName" name="ownerName" v-model="card.ownerName" maxlength="50"
                       v-validate="{required: true, regex: /^([0-9a-zA-Z\s\\,\\.\\/\\-]+)$/, max:50}" :data-vv-as="$t('card_payment.card.owner_name')">
                <div class="exp-field">{{$t('card_payment.card.owner_name_exp')}}</div>
                <div class="v-error" v-if="errors.has('ownerName')">{{errors.first('ownerName')}}</div>
              </div>
            </div>
            <!--End Owner Name of card-->
            <!--Secure Code of card-->
            <div class="form-group row">
              <label for="secureCode" class="col-sm-3 col-form-label">{{$t('card_payment.card.secure_code')}}<span
                class="badge badge-danger">{{$t('common.require')}}</span></label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="secureCode" name="secureCode" v-model="card.secureCode" maxlength="4"
                       v-validate="{required: true, numeric: true, min:3, max: 4}" :data-vv-as="$t('card_payment.card.secure_code')">
                <div class="exp-field">{{$t('card_payment.card.secure_code_exp')}}</div>
                <div class="v-error" v-if="errors.has('secureCode')">{{errors.first('secureCode')}}</div>
                <div class="exp-field desc-secure-code">
                  <h5>{{$t('card_payment.card.sc_title')}}</h5>
                  <div class="sc-line">{{$t('card_payment.card.sc_line_1')}}</div>
                  <div class="sc-img">
                    <img src="@/assets/images/securitycode1.png" alt="">
                    <img src="@/assets/images/securitycode1.png" alt="">
                  </div>
                  <div class="sc-line">{{$t('card_payment.card.sc_line_2')}}</div>
                  <div class="sc-img">
                    <img src="@/assets/images/amex.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <!--Secure Code of card-->
          </div>
        </div>
        <div class="block-button clearfix text-center">
          <!--<div class="btn btn-secondary float-left" >{{$t('common.btn_back')}}</div>-->
          <div class="btn btn-primary" :disabled="errors.any()" @click="processPaymentCard">
            {{$t('common.btn_next')}}
          </div>
        </div>
      </div>
    </main>
  </div>
</template>
<script src="@/business/cart/CartPaymentCardBusiness.js"></script>

<style lang="scss" scoped>
  @import "./assets/scss/payment_card";
</style>
