<template>
  <div id="MainC" class="booking-method-payment">
    <main id="ContentsPane">
      <h1 class="rs-title-pg"><span id="Pagetitle">{{ $t('booking.title_booking_method_payment') }}</span></h1>
      <div id="LowerContents">
        <breadcrumb :step="2"/>
        <div class="block-explain text-center" v-if="feeMsgPayment">
          {{feeMsgPayment}}
        </div>
        <form action="">
          <div class="block-method">
            <div class="bl-head"></div>
            <div class="list-method">
              <!--Start payment methods-->
              <div class="alert alert-danger" v-if="errorMethod">{{errorMethod}}</div>
              <ul class="methods-payment" v-if="payment.paymentList && payment.paymentList.length > 0">
                <!-- When link is maintance, no select class-->
                <li v-for="(method, index) in payment.paymentList" :key="index"
                    v-bind:class="{'no-select':method.stop_flg==config.STOP_FLAG_TRUE?true:false}">
                  <div class="">
                    <!-- When link is maintance, disable select-->
                    <input type="radio" name="paymentMethod" :disabled="method.stop_flg && method.stop_flg == config.STOP_FLAG_TRUE ? true : false"
                           v-model="payment.paymentMethod" :value="method.code_no_006" :id="method.code_no_006">
                    <label class="lbl-methods-payment" :for="method.code_no_006">{{method.code_nm_006}}</label>
                    <span v-if="method.fee_msg_006">{{method.fee_msg_006}}</span>
                  </div>
                  <!--Explain payment method-->
                  <div class="method-explain" v-if="method.settle_info">{{method.settle_info}}</div>
                  <!--If link was maintance, show message error-->
                  <div v-if="method.stop_flg && method.stop_flg == config.STOP_FLAG_TRUE" class="error-link-maintance">
                    {{$t('message.msg067_link_maintance', {startdtime: (method.start_dtime || null), enddtime: (method.end_dtime || null)})}}
                  </div>
                  <!--If user select payment credit card (102), show form info-->
                  <!--Start receive methods-->
                  <ul class="methods-recieve" v-if="payment.paymentMethod == method.code_no_006 && method.receive_list">
                    <li v-for="(receive, index2) in method.receive_list" :key="index2">
                      <div>
                        <input type="radio" name="receiveMethod" v-model="payment.receiveMethod" :id="method.code_no_006 + '_' + receive.code_no_007" :value="method.code_no_006 + '_' + receive.code_no_007">
                        <label class="lbl-methods-receive" :for="method.code_no_006 + '_' + receive.code_no_007">{{receive.code_nm_007}}</label> <span v-if="receive.fee_msg_007">{{receive.fee_msg_007}}</span>
                      </div>
                      <div class="exp-recept" v-if="receive.depart_info">{{receive.depart_info}}</div>
                    </li>
                  </ul>
                  <!--End receive methods-->
                </li>
              </ul>
              <!--End payment methods-->
            </div>
          </div>
          <PaymentMethodDelivery :delivery ="delivery" :prefectureList="prefectureList" :config="config"
                                 v-if="payment.receiveMethod && getCodeReceiptMethodBaseInput(payment.receiveMethod) == config.METHOD_DELIVERY_CODE"/>
        </form>
        <div class="block-button clearfix">
          <div class="rs-btn btn-green-dark float-left" @click="redirectToCart">{{$t('common.btn_back')}}</div>
          <div class="rs-btn btn-green-dark float-right" :disabled="errors.any()" @click="setPaymentInfo"
               v-if="payment.paymentList">
            {{$t('common.btn_next')}}
          </div>
        </div>
      </div>
    </main>
  </div>
</template>
<script src="@/business/cart/CartPaymentMethodBusiness.js"></script>

<style lang="scss" scoped>
  @import "./assets/scss/booking_method_payment";
</style>
