<template>
    <div>hfdfkjsk</div>
</template>

<script>
  import {get, post} from "@/plugins/api"
  import api from '@/constant/api'
  import axios from "axios"
  export default {
    name: "cors",
    mounted() {
      //https://dc1mhzttk5.execute-api.ap-northeast-1.amazonaws.com/dev
      axios.get('https://dc1mhzttk5.execute-api.ap-northeast-1.amazonaws.com/dev/'+api.PAYMENT_GET_METHOD_LIST,
        {
          client_id: this.$route.params.client_id,
          cart_id: '200',
          admin_time: '2018/01/01 00:00'
        })
        .then(res => {
          console.log(res);
        })
        .catch(err => {
         throw new Error(err);
        });

      axios.get('https://dc1mhzttk5.execute-api.ap-northeast-1.amazonaws.com/dev/' + api.PAYMENT_GET_FEE_MESSAGE_COMMON,
        {
          client_id: this.$route.params.client_id,
          cart_id: '200'
        })
        .then(res => {
          console.log(res);
        })
        .catch(err => {
          throw new Error(err);
        })
    }
  }
</script>

<style scoped>

</style>
