<template>
  <div id="MainC" class="show-list-page">
    <!-- Main Contents -->
    <main id="ContentsPane">
      <h1 class="rs-title-pg"><span id="Pagetitle">{{$t('show.title')}}</span></h1>
      <div id="UpperContents">
        <!-- お知らせトップ -->
        <section id="InfoList" v-if="notifyList && notifyList.length > 0">
          <h2 class="rs-title-main">{{$t('show.lbl_h_message')}}</h2>
          <NotifyList v-bind:notifyList="notifyList" v-bind:notifyPage="notify_page" @page-changed="pageChanged"/>
        </section>
        <!-- お知らせトップ end -->
      </div>

      <div id="LowerContents">
        <div v-if="searching">{{ totalRecord ? $t('show.lbl_record_num', {'record': totalRecord}) :
          $t('show.lbl_record_zero')}}
        </div>
        <div v-else>{{ totalRecord == 0 ? $t('show.lbl_no_show') : ''}}</div>
        <!-- 公演一覧トップリスト -->
        <section id="EventList">
          <h2 class="rs-title-main" v-if="totalRecord > 0">{{$t('show.lbl_h_show')}}</h2>
          <!-- 公演一覧テーブル -->
          <div class="show-list">
            <ItemShow v-for="show in shows" v-bind:constant="constant" v-bind:show="show"
                      v-bind:key="show.id" v-bind:searching="searching" v-bind:showsInCart="showsInCart"
                      v-bind:showCart="showCart"/>
          </div>
          <!-- 公演一覧テーブルend -->
        </section>
        <!-- 公演一覧トップリスト end -->
        <!-- Modal show error when btn select was clicked -->
        <div class="modal fade" id="modalAlertShow" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{$t('show.title')}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  {{$t('message.msg062_invalid_method_payment')}}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{$t('common.btn_close')}}</button>
                <button type="button" class="btn btn-primary" @click="redirectToCart">{{$t('common.btn_cart')}}</button>
              </div>
            </div>
          </div>
        </div>
        <!--End modal error -->
      </div>
    </main>
    <!-- Main Contents end -->
  </div>
</template>
<script src="@/business/show/ListShowBusiness.js"></script>
<style lang="scss" scoped>
  @import "assets/scss/show";
</style>

